.carousel-transfer-image,
.slider-transfer-image {
  background-color: #666;
  background-position: 50% 50%;
  background-size: cover; }
  .carousel-transfer-image > img,
  .slider-transfer-image > img {
    display: none; }
  .carousel-transfer-image.ar_4-3,
  .slider-transfer-image.ar_4-3 {
    height: 0;
    padding-top: 75%;
    position: relative; }
  .carousel-transfer-image.ar_16-9,
  .slider-transfer-image.ar_16-9 {
    height: 0;
    padding-top: 56.25%;
    position: relative; }
  .carousel-transfer-image.ar_16-10,
  .slider-transfer-image.ar_16-10 {
    height: 0;
    padding-top: 62.5%;
    position: relative; }

.overflow-slider_wrapper ul, .overflow-slider_wrapper ol, .overflow-slider_wrapper li,
.small-carousel_wrapper ul,
.small-carousel_wrapper ol,
.small-carousel_wrapper li {
  margin: 0;
  padding: 0;
  list-style: none; }
.overflow-slider_wrapper .bx-pager,
.small-carousel_wrapper .bx-pager {
  display: none; }
.overflow-slider_wrapper .slide,
.overflow-slider_wrapper .slides,
.small-carousel_wrapper .slide,
.small-carousel_wrapper .slides {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-backface-visibility: hidden; }
.overflow-slider_wrapper .bx-wrapper,
.small-carousel_wrapper .bx-wrapper {
  overflow: hidden;
  position: relative;
  font-family: "proxima-nova", sans-serif;
  width: 100%;
  max-width: inherit !important; }
.overflow-slider_wrapper .bx-viewport,
.small-carousel_wrapper .bx-viewport {
  margin: 0 auto;
  overflow: visible !important; }

.overflow-slider_wrapper .bx-viewport {
  max-width: 1020px;
  width: 100%; }
  .overflow-slider_wrapper .bx-viewport::before, .overflow-slider_wrapper .bx-viewport::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: black;
    z-index: 1;
    -moz-opacity: 0.6 ;
    -khtml-opacity: 0.6 ;
    -webkit-opacity: 0.6 ;
    opacity: 0.6 ;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})";
    filter: "alpha(opacity=${opperc})";
    zoom: 1; }
  .overflow-slider_wrapper .bx-viewport::before {
    margin-left: -100%; }
  .overflow-slider_wrapper .bx-viewport::after {
    margin-left: 100%; }
.overflow-slider_wrapper .bx-controls-direction {
  display: none;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  position: absolute;
  top: 0; }
  @media only screen and (min-width: 768px) {
    .overflow-slider_wrapper .bx-controls-direction {
      display: block; } }
  @media only screen and (min-width: 1020px) {
    .overflow-slider_wrapper .bx-controls-direction {
      left: 50%;
      margin-left: -510px; } }
  @media only screen and (min-width: 1270px) {
    .overflow-slider_wrapper .bx-controls-direction {
      top: 50%; } }
  .overflow-slider_wrapper .bx-controls-direction .bx-prev,
  .overflow-slider_wrapper .bx-controls-direction .bx-next {
    position: absolute;
    background: url("assets/ico_arrow-white-left.png") 24px center no-repeat;
    width: 80px;
    height: 80px;
    text-indent: -99em;
    overflow: hidden;
    z-index: 1;
    border-radius: 50%;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
    top: 10px;
    margin-top: 3%;
    border: 3px solid white;
    color: white; }
    .overflow-slider_wrapper .bx-controls-direction .bx-prev:hover,
    .overflow-slider_wrapper .bx-controls-direction .bx-next:hover {
      -moz-opacity: 0.6 ;
      -khtml-opacity: 0.6 ;
      -webkit-opacity: 0.6 ;
      opacity: 0.6 ;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})";
      filter: "alpha(opacity=${opperc})";
      zoom: 1; }
    @media only screen and (min-width: 1270px) {
      .overflow-slider_wrapper .bx-controls-direction .bx-prev,
      .overflow-slider_wrapper .bx-controls-direction .bx-next {
        top: 0;
        margin-top: -40px; } }
  .overflow-slider_wrapper .bx-controls-direction .bx-prev {
    right: 100px; }
    @media only screen and (min-width: 1270px) {
      .overflow-slider_wrapper .bx-controls-direction .bx-prev {
        right: initial;
        left: 0;
        margin-left: -90px; } }
  .overflow-slider_wrapper .bx-controls-direction .bx-next {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    right: 10px; }
    @media only screen and (min-width: 1270px) {
      .overflow-slider_wrapper .bx-controls-direction .bx-next {
        right: initial;
        left: 100%;
        margin-left: 10px; } }
.overflow-slider_wrapper .slide {
  min-height: 480px;
  display: table-cell !important;
  vertical-align: bottom;
  float: none !important; }
  @media only screen and (min-width: 768px) {
    .overflow-slider_wrapper .slide {
      padding-top: 10em; } }
.overflow-slider_wrapper .overflow-slider_content {
  position: relative;
  background: rgba(9, 8, 10, 0.56);
  padding: 2em 2em 70px;
  color: white;
  -moz-opacity: 0 ;
  -khtml-opacity: 0 ;
  -webkit-opacity: 0 ;
  opacity: 0 ;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})";
  filter: "alpha(opacity=${opperc})";
  zoom: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  -webkit-backface-visibility: hidden; }
  .overflow-slider_wrapper .overflow-slider_content.show {
    -moz-opacity: 1 ;
    -khtml-opacity: 1 ;
    -webkit-opacity: 1 ;
    opacity: 1 ;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})";
    filter: "alpha(opacity=${opperc})";
    zoom: 1; }
  @media only screen and (min-width: 768px) {
    .overflow-slider_wrapper .overflow-slider_content {
      border-left: 10px solid #d74e4e;
      margin: 0;
      padding: 2em 20% 40px 2em; } }
.overflow-slider_wrapper .overflow-slider_title,
.overflow-slider_wrapper .overflow-slider_subtitle {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px; }
.overflow-slider_wrapper .overflow-slider_title {
  font-size: 1.875rem ; }
  .overflow-slider_wrapper .overflow-slider_title .lt-ie9 {
    font-size: 30px ; }
  @media only screen and (min-width: 768px) {
    .overflow-slider_wrapper .overflow-slider_title {
      font-size: 2.25rem ; }
      .overflow-slider_wrapper .overflow-slider_title .lt-ie9 {
        font-size: 36px ; } }
  @media only screen and (min-width: 1020px) {
    .overflow-slider_wrapper .overflow-slider_title {
      font-size: 3.25rem ; }
      .overflow-slider_wrapper .overflow-slider_title .lt-ie9 {
        font-size: 52px ; } }
.overflow-slider_wrapper .overflow-slider_subtitle {
  font-size: 1rem ; }
  .overflow-slider_wrapper .overflow-slider_subtitle .lt-ie9 {
    font-size: 16px ; }
  @media only screen and (min-width: 768px) {
    .overflow-slider_wrapper .overflow-slider_subtitle {
      font-size: 1.25rem ; }
      .overflow-slider_wrapper .overflow-slider_subtitle .lt-ie9 {
        font-size: 20px ; } }
  @media only screen and (min-width: 1020px) {
    .overflow-slider_wrapper .overflow-slider_subtitle {
      font-size: 1.625rem ; }
      .overflow-slider_wrapper .overflow-slider_subtitle .lt-ie9 {
        font-size: 26px ; } }
.overflow-slider_wrapper .overflow-slider_body {
  font-size: 0.875rem ;
  line-height: 1.5em; }
  .overflow-slider_wrapper .overflow-slider_body .lt-ie9 {
    font-size: 14px ; }
  @media only screen and (min-width: 768px) {
    .overflow-slider_wrapper .overflow-slider_body {
      font-size: 1rem ; }
      .overflow-slider_wrapper .overflow-slider_body .lt-ie9 {
        font-size: 16px ; } }
  @media only screen and (min-width: 1020px) {
    .overflow-slider_wrapper .overflow-slider_body {
      font-size: 1.125rem ; }
      .overflow-slider_wrapper .overflow-slider_body .lt-ie9 {
        font-size: 18px ; } }
.overflow-slider_wrapper .overflow-slider_read-more {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 50px;
  line-height: 50px;
  padding: 0 2em;
  font-size: 1rem ;
  display: inline-block;
  background-color: #d74e4e;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .overflow-slider_wrapper .overflow-slider_read-more .lt-ie9 {
    font-size: 16px ; }
  .overflow-slider_wrapper .overflow-slider_read-more:hover {
    background-color: #c52d2d; }
  @media only screen and (min-width: 768px) {
    .overflow-slider_wrapper .overflow-slider_read-more {
      right: 0;
      left: initial;
      height: 40px;
      line-height: 40px; } }

.small-carousel_wrapper .small-carousel_img {
  display: block;
  cursor: pointer; }
.small-carousel_wrapper .bx-viewport {
  width: 90% !important;
  max-width: 1020px; }
  .small-carousel_wrapper .bx-viewport::before, .small-carousel_wrapper .bx-viewport::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #eeeeee;
    z-index: 1;
    -moz-opacity: 0.8 ;
    -khtml-opacity: 0.8 ;
    -webkit-opacity: 0.8 ;
    opacity: 0.8 ;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})";
    filter: "alpha(opacity=${opperc})";
    zoom: 1; }
  .small-carousel_wrapper .bx-viewport::before {
    margin-left: -100%; }
  .small-carousel_wrapper .bx-viewport::after {
    margin-left: 100%; }
.small-carousel_wrapper .bx-controls-direction {
  display: none; }
  @media only screen and (min-width: 768px) {
    .small-carousel_wrapper .bx-controls-direction {
      display: block;
      margin: 0;
      height: 0; } }
  .small-carousel_wrapper .bx-controls-direction .bx-prev,
  .small-carousel_wrapper .bx-controls-direction .bx-next {
    position: absolute; }
    @media only screen and (min-width: 768px) {
      .small-carousel_wrapper .bx-controls-direction .bx-prev,
      .small-carousel_wrapper .bx-controls-direction .bx-next {
        position: absolute;
        background: url("assets/ico_arrow-grey-left.png") 24px center no-repeat;
        width: 80px;
        height: 80px;
        text-indent: -99em;
        overflow: hidden;
        z-index: 1;
        border-radius: 50%;
        -webkit-transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -ms-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
        -webkit-transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -ms-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out;
        width: 5%;
        top: 67px;
        margin-top: -40px;
        background-position: center center; }
        .small-carousel_wrapper .bx-controls-direction .bx-prev:hover,
        .small-carousel_wrapper .bx-controls-direction .bx-next:hover {
          -moz-opacity: 0.6 ;
          -khtml-opacity: 0.6 ;
          -webkit-opacity: 0.6 ;
          opacity: 0.6 ;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})";
          filter: "alpha(opacity=${opperc})";
          zoom: 1; }
        .small-carousel_wrapper .bx-controls-direction .bx-prev:hover,
        .small-carousel_wrapper .bx-controls-direction .bx-next:hover {
          background-color: transparent; } }
  .small-carousel_wrapper .bx-controls-direction .bx-prev {
    left: 0; }
    @media only screen and (min-width: 1270px) {
      .small-carousel_wrapper .bx-controls-direction .bx-prev {
        margin-left: -600px;
        left: 50%; } }
  .small-carousel_wrapper .bx-controls-direction .bx-next {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 100%;
    margin-left: -5%; }
    @media only screen and (min-width: 1270px) {
      .small-carousel_wrapper .bx-controls-direction .bx-next {
        margin-left: 520px;
        left: 50%; } }

.overflow-carousel.is-loading .slide,
.small-carousel.is-loading .slide {
  display: none !important; }
