@function strip( $num ) {
	@return $num / ( $num * 0 + 1 );
}

@mixin opacity($opacity: 0.5, $i:false) {
	$important: if($i, "!important", ""); // if the $i var is passed, go ahead and set it to !important and add it to the mixin
	-moz-opacity: $opacity #{$important};
	-khtml-opacity: $opacity #{$important};
	-webkit-opacity: $opacity #{$important};
	opacity: $opacity #{$important};
	$opperc: $opacity * 100;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=${opperc})";
	filter: "alpha(opacity=${opperc})";
	zoom: 1;
}

@mixin transition( $prop: all, $dur: .5s, $ease: ease-out ) {
	-webkit-transition: $prop $dur $ease;
	-moz-transition: $prop $dur $ease;
	-ms-transition: $prop $dur $ease;
	-o-transition: $prop $dur $ease;
	transition: $prop $dur $ease;
}

@mixin verbose-transition( $trans: "" ) {
	$trans: unquote($trans);
	-webkit-transition: $trans;
	-moz-transition: $trans;
	-ms-transition: $trans;
	-o-transition: $trans;
	transition: $trans;
}

@mixin break-word() {
	-ms-word-break: break-word;
	word-break: break-word;

	overflow-wrap: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

// retina.less
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)
// Requires LESS v1.3.3 or higher

// Updated 4/30/13 based on http://css-tricks.com/snippets/css/retina-display-media-query/
// I would like to note that "at2x" is rather misleading, since it's really "at1.5x"

// EDIT: Needed to break this into two separate MQs, because retina MBPs were getting these
// options triggered outside of their respective min-width queries
// This may be able to be avoided with SASS.


@mixin at2x( $file, $type, $w: auto, $h: auto ) {
    $at2x_path: $file + '@2x.' + $type;

    background-image: url($file + '.' + $type);
    background-size: $w $h;
    
    @media (-webkit-min-device-pixel-ratio: 1.5) {
        background-image: url($at2x_path);
        background-size: $w $h;
    }
    @media (min-resolution: 144dpi) {
        background-image: url($at2x_path);
        background-size: $w $h;
    }
}

@mixin border-radius( $radius ) {
	// // -webkit-border-radius: $radius;
	// // -moz-border-radius: $radius;
	// -khtml-border-radius: $radius;
	border-radius: $radius;
}

@mixin rems( $property, $sizeValue, $i: false ) {
	$important: if($i, "!important", ""); // if the $i var is passed, go ahead and set it to !important and add it to the mixin
	$remValue: $sizeValue / $rem-conversion-factor;
	$pxValue: $sizeValue;
	
	#{$property}: ($remValue)+rem #{$important};
	.lt-ie9 {
		#{$property}: ($pxValue)+px #{$important};
	}
};