@mixin wings( $color: black, $opacity: 0.6 ) {
	&::before,
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		background: $color;
		z-index: 1;
		@include opacity( $opacity );
	}

	&::before {
		margin-left: -100%;
	}
	&::after {
		margin-left: 100%;
	}
}

@mixin btn( $bg: $red, $fg: white ) {
	display: inline-block;
	background-color: $bg;
	color: $fg;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	@include transition( background-color, .2s );

	&:hover {
		background-color: darken( $bg, 10% );
	}
}

@mixin arrowNav( $img ) {
	position: absolute;
	background: url( $img ) 24px center no-repeat;
	width: $fwd-bck-size;
	height: $fwd-bck-size;
	text-indent: -99em;
	overflow: hidden;
	z-index: 1;
	@include border-radius( 50% );
	@include transition( opacity, .2s );

	&:hover {
		@include opacity( .6 );
	}
}

.carousel-transfer-image,
.slider-transfer-image {
	background-color: #666;
	background-position: 50% 50%;
	background-size: cover;

	& > img {
		display: none;
	}

	&.ar_4-3 {
		height: 0;
		padding-top: (3/4*100) + 0%;
		position: relative;
	}
	&.ar_16-9 {
		height: 0;
		padding-top: (9/16*100) + 0%;
		position: relative;
	}
	&.ar_16-10 {
		height: 0;
		padding-top: (10/16*100) + 0%;
		position: relative;
	}
}



.overflow-slider_wrapper,
.small-carousel_wrapper {
	ul, ol, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.bx-pager {
		display: none;
	}
	.slide,
	.slides {
		margin: 0;
		padding: 0;
		list-style: none;
		-webkit-backface-visibility: hidden;
	}

	.bx-wrapper {
		overflow: hidden;
		position: relative;
		font-family: "proxima-nova", sans-serif;
		width: 100%;
		max-width: inherit !important;
	}

	.bx-viewport {
		margin: 0 auto;
		max-width: $page-width;
		width: 100%;
		overflow: visible !important;
	}
}

.overflow-slider_wrapper {

	.bx-viewport {
		@include wings( black, 0.6 );
	}
	
	.bx-controls-direction {
		display: none;
		@media #{ $query-med } {
			display: block;
		}
		.bx-prev,
		.bx-next {
			@include arrowNav( "assets/ico_arrow-white-left.png" );
			
			top: 100%;
			margin-top: -$fwd-bck-size - $shoulder;
			border: 3px solid white;
			color: white;

			@media #{ $query-large } {
				top: 50%;
				margin-top: -$fwd-bck-size / 2;
			}
		}
		.bx-prev {
			left: 0;
			margin-left: $shoulder;

			@media #{ $query-page } {
				left: 50%;
				margin-left: -$page-width / 2 + $shoulder;			
			}

			@media #{ $query-large } {
				margin-left: -$page-width / 2 - $fwd-bck-size - $shoulder;
			}
		}
		.bx-next {
			@include rotate( 180deg );
			left: 100%;
			margin-left: -$shoulder - $fwd-bck-size;


			@media #{ $query-page } {
				left: 50%;
				margin-left: $page-width / 2 - $fwd-bck-size - $shoulder;
			}

			@media #{ $query-large } {
				margin-left: $page-width / 2 + $shoulder;
			}
		}
	}

	
	.slide {
		min-height: 480px;
		display: table-cell !important;
		vertical-align: bottom;
		float: none !important;
		@media #{ $query-med } {
			padding-top: 10em;
		}
	}

	.overflow-slider_content {
		position: relative;
		background: rgba( 9, 8, 10, .56 );
		padding: 2em 2em $btn-size-sml + 20px;
		color: white;
		@include opacity( 0 );
		@include transition( opacity );
		-webkit-backface-visibility: hidden;

		&.show {
			@include opacity( 1 );
		}

		@media #{ $query-med } {
			padding-bottom: $btn-size + 20px;
			margin: 0 100px;
			border-left: $shoulder solid $red;
		}

		@media #{ $query-large } {
			margin: 0;
			padding: 2em 20% $btn-size 2em;
		}
	}
	.overflow-slider_title,
	.overflow-slider_subtitle {
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 $shoulder;
	}
	.overflow-slider_title {
		@include rems( "font-size", 30 );
		@media #{ $query-med } {
			@include rems( "font-size", 36 );
		}
		@media #{ $query-page } {
			@include rems( "font-size", 52 );
		}
	}
	.overflow-slider_subtitle {
		@include rems( "font-size", 16 );
		@media #{ $query-med } {
			@include rems( "font-size", 20 );
		}
		@media #{ $query-page } {
			@include rems( "font-size", 26 );
		}
	}
	.overflow-slider_body {
		@include rems( "font-size", 14 );
		@media #{ $query-med } {
			@include rems( "font-size", 16 );
		}
		@media #{ $query-page } {
			@include rems( "font-size", 18 );
		}
		line-height: 1.5em;
	}
	.overflow-slider_read-more {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto;
		height: $btn-size-sml;
		line-height: $btn-size-sml;
		padding: 0 2em;
		@include rems( "font-size", 16 );
		@include btn( $red, white );

		@media #{ $query-med } {
			right: 0;
			left: initial;
			height: $btn-size;
			line-height: $btn-size;
		}
	}
}

.small-carousel_wrapper {
	.bx-viewport {
		@include wings( white, 0.9 );
	}
	.bx-controls-direction {
		display: none;
		@media #{ $query-med } {
			margin-top: $shoulder;
			height: 3em;
			display: block;
		}
		@media #{ $query-large } {
			margin: 0;
			height: 0;
		}
		.bx-prev,
		.bx-next {

			position: absolute;
			width: $fwd-bck-size;
			height: 3em;
			line-height: 3em;
			@include btn( $red, white );

			@media #{ $query-large } {
				top: 50%;
				margin-top: -$fwd-bck-size / 2;

				@include arrowNav( "assets/ico_arrow-grey-left.png" );
				@include transition( opacity, .2s );

				&:hover {
					background-color: transparent;;
				}
			}
		}
		.bx-prev {
			left: 0;

			@media #{ $query-page } {
				left: 50%;
				margin-left: -$page-width / 2;
			}

			@media #{ $query-large } {
				margin-left: -$page-width / 2 - $shoulder - $fwd-bck-size;
			}
		}
		.bx-next {
			left: 100%;
			margin-left: -$fwd-bck-size;

			@media #{ $query-page } {
				left: 50%;
				margin-left: $page-width / 2 - $fwd-bck-size;
			}

			@media #{ $query-large } {
				@include rotate( 180deg );
				margin-left: $page-width / 2 + $shoulder;
			}

		}
	}
}

.small-carousel_loading,
.overflow-slider_loading {
	.slide {
		display: none !important; // override
	}
}