$page-width: 1084px;

$shoulder : 10px;
$btn-size-sml : 50px;
$btn-size : 40px;
$fwd-bck-size : 80px;
$fwd-bck-small-width : 19px;
$fwd-bck-small-height : 43px;

$rem-conversion-factor : 16;

$red : #d74e4e;

// $query-small : "only screen and (min-width: 320px)";
$query-med : "only screen and (min-width: 600px)";
$query-page : "only screen and (min-width: " + $page-width + ")";
$query-large : "only screen and (min-width: 1300px)";