/* ==========================================================================
  Mixins & Variables
========================================================================== */


/*  Variables  */ 

$column-width: 60px;
$gutter-width: 24px;
$columns: 12;
$total-width: 100%;

$color-accent: #d74e4e;


/* Mixins */

@mixin transition {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	-webkit-backface-visibility: hidden;
}