@import "reset.scss";
@import "grid.scss";
@import "mixins.scss";
@import "type.scss";


/* Main Page Structure
   ========================================================================== */

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
 
  html { 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #EEE;
    -webkit-text-size-adjust: 100%; 
  }

  body {
    height: 100%;
    background: transparent;
    width: 100%;
    max-width: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
  }

  @-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
  }

	.global-container {
    max-width: 90%;
    width: 1020px;
    margin: 0 auto;
  }
  
  .hide { display: none; }
  .hide-mobile { display: auto; }
  .hide-desktop { display: none; }

  .row-12 { @include row(12); }
  .row-9 { 
    @include row(9);
    @media screen and (max-width: 1023px) { @include row(12); }
   }

  // .hr-2 {
  //   height: 0;
  //   border: 0;
  //   margin: 0;
  //   border: 0 !important;
  //   clear: both;
  // }
  
  .button {
    display: inline-block;
    background: #3a3a3a;
    color: #FFF;
    padding: 6px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: .9;
    line-height: 1;
  }
  
  .search-popup {
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    position: relative;

    ::-webkit-input-placeholder { color: #FFF; }
    :-moz-placeholder { color: #FFF; }
    ::-moz-placeholder { color: #FFF; }
    :-ms-input-placeholder { color: #FFF; }

    input[type="text"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      width: 100%;
      border: 0;
      border-bottom: 2px solid #FFF;
      padding: .5em 15% .5em 10%;
      color: #FFF;
      @include font-secondary;
      font-size: 2.4em;
      font-style: italic;
      letter-spacing: .1em;

      &:focus {
        outline: 0;
      }
    }

    input[type="submit"] {
      position: absolute;
      top: 0;
      right: 10%;
      bottom: 0;
      width: 16px;
      background: url('../img/ico-search-popup.png') no-repeat center center;
      border: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
    }

    .mfp-close {
      display: none !important;
    }
  }


  
  /* Browse Happy */
    .browsehappy {
      position: relative;
      z-index: 1000;
      margin: 0;
      padding: 10px 0;
      background: #fffac5;
      color: #000;

      .global-container {
        max-width: 96%;
      }

      strong {
        color: inherit;
        text-transform: uppercase;
      }

      a {
        color: #5a619b;
        font-weight: bold;
      }
    }


/* General Structural Styles
   ========================================================================== */ 

    /* Media - MediaElement */ 
      
      .mejs-container {
        width: 100% !important;
      }

      .mejs-container {
        .mejs-controls {
          background: #dedede !important;

          .mejs-time span {
            color: #414141 !important;
          }

          .mejs-button {
            height: 30px;

            button:focus {
              outline: 0;
            }
          }

          .mejs-playpause-button {
            background: #b4b4b4 !important;
            button { background-image: url('../img/mejs-controls.png') !important; }
          }
          
          .mejs-volume-button {
            border-left: 1px solid #b7b7b7;
            width: 25px;
            button { background-image: url('../img/mejs-controls.png') !important; }
          }
          
          .mejs-horizontal-volume-slider { 
            .mejs-horizontal-volume-total { background: #cecece !important; }
            .mejs-horizontal-volume-current { background: #969696 !important; }
          }

          .mejs-time-rail {
            .mejs-time-total { background: #CCC !important; }
            .mejs-time-loaded { background: #cecece !important; }
            .mejs-time-current { background: $color-accent !important; }

          }
        } 
      }

      /* Fix for last item dropping below the controls. */
      .mejs-container .mejs-controls > div:last-of-type {
        position: relative;
        clear: both;
        float: right;
        top:   -31px;
      }  

    /* Header */

      header {
        background: #FFF;
        min-height: 90px;
        line-height: 90px;
        @include font-secondary;

        .global-container {
          height: 100%;
        }

        h1 {
          display: inline-block;
          line-height: inherit;
          height: 100%;
          margin: 0;
          padding: 0;

          a {
            display: inline-block;
            vertical-align: baseline;
            line-height: inherit;
            background: url('../img/logo-artsoulkonnect.png') no-repeat center center;
            width: 197px;
            height: 23px;

            @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { 
              background: url('../img/logo-artsoulkonnect@2x.png') no-repeat center center;
              background-size: 197px 23px;
            }
          }
        }

        nav.desktop-nav {
          float: right;
          display: inline-block;

          ul {
            display: block;

            li {
              display: inline-block;

              > a {
                display: block;
                color: #000;
                text-decoration: none;
                text-transform: lowercase;
                letter-spacing: .1em;
                font-weight: 500;
                line-height: 1;
                padding: 10px 15px;

                @media screen and (max-width: 1023px) {
                  padding: 10px 12px;  
                }
              }

              &.current-menu-item a {
                border: 1px solid #acacac;
              }

              &.nav-search {
                a {
                  text-indent: -99999px;
                  background: url('../img/ico-nav-search.png') no-repeat center center;
                }
              }

              &:last-of-type a {
                padding-right: 0;
              }
            }
          }
        }

        nav.mobile-nav {
          position: relative;
          background: #FFF;
          line-height: 1;
          margin: 0;
          padding: 0;
          z-index: 1;

          // Menu Button (Mobile)
          .show-mobile-menu {
            position: absolute;
            right: 0;
            top: -65px;
            text-align: right;
            cursor:pointer;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 17px;
            z-index: 20;

            span {
              display: inline-block;
              vertical-align: text-top;
              margin:0 5px 0 0;
              
              i { 
                display:block; 
                height: 4px; 
                width: 24px; 
                background: #acacac;
                margin: 4px;
                -webkit-border-radius: 5px;
                 -moz-border-radius: 5px;
                 border-radius: 5px; 
              }
            }
          }

          ul {
            li {
              display: block;

              > a {
                display: block;
                color: #000;
                text-decoration: none;
                text-transform: lowercase;
                letter-spacing: .1em;
                font-weight: 500;
                font-size: 1.2em;
                line-height: 1;
                padding: 10px 15px;
              }

              &.current-menu-item a {
                border: 1px solid #acacac;
              }

              &.nav-search {
                a {
                  text-indent: -99999px;
                  background: url('../img/ico-nav-search.png') no-repeat 15px center;
                  margin-bottom: 20px;
                }
              }
            }
          }

        }
      }

    /* Footer */

      footer {
        @include font-secondary;
      }

      footer.primary {
        background: #333;
        padding: 25px 0 75px 0;
        color: #FFF;

        .columns {
          @include row(12);
          @include clearfix;
        }

        .row-border {
          @include column(12);
          border-top: 1px solid #535353;
        }

        .row-border-tablet {
          display: none;
          
          @media screen and (max-width: 1023px) {
            @include column(12);
            border-top: 1px solid #535353;
          }
        }

        [class^="col-"] {
          padding-top: 2em;
          min-height: 300px;

          @media screen and (max-width: 1023px) {
            min-height: 0;
          }

          h3 {
            letter-spacing: normal;
            color: #e8e8e8;
            font-weight: 400;
          }

          a {
            color: #FFF;
            text-decoration: none;
          }

          @media screen and (max-width: 767px) {
            margin-bottom: 20px !important;
          }
        }

        .col-1 {
          @include column(6);
          color: #949494;
          letter-spacing: .1em;

          @media screen and (max-width: 1023px) {
            @include column(12);
          }
        }

        .col-2 {
          @include column(3);
          border-left: 1px solid #535353;
          padding-left: 30px;

          @media screen and (max-width: 1023px) {
            border: 0;
            padding-left: 0;
            @include column(6);
          }

          @media screen and (max-width: 767px) {
            @include column(12);  
          }

          ul {
            li {
              border-bottom: 1px solid #535353;
              padding: 10px 0;

              &:first-child {
                padding-top: 0;
              }

              &:last-child {
                border: 0;
              }

              a:after {
                display: inline-block;
                content: url('../img/ico-arrow-footer-list.png');
                width: 10px;
                margin-left: 8px;
              }
            }
          }
        }

        .col-3 {
          @include column(3);
          border-left: 1px solid #535353;
          padding-left: 30px;

          @media screen and (max-width: 1023px) {
            @include column(6);
          }

          @media screen and (max-width: 767px) {
            border: 0;
            border-top: 1px solid #535353;
            @include column(12);
            padding-left: 0;
          }

          ul {
            li {
              margin: 3px 0;

              a {
                display: block;
                background: #1e1f1f;
                color: #e8e8e8;
                padding: 5px;
                text-align: center;
              }
            }
          }
        }
      }

      footer.secondary {
        background: #585858;
        padding: 45px 0;
        color: #FFF;
        font-style: italic;
        text-align: center;

        hr {
          border: 0;
          height: 0;
          width: 100%;
          margin: 0;
        }
      }

      .rocket {
        display: inline-block;
        width: 48px;
        height: 12px;
        margin-top: 20px;
        background: url('../img/ico-rocket.png') no-repeat center center;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { 
          background: url('../img/ico-rocket@2x.png') no-repeat center center;
          background-size: 48px 12px;
        }
      }
    
    /* Sections */

      .content-row {
        margin: 4em 0;
        @include clearfix;

        @media screen and (max-width: 600px) {
          margin: 2em 0;
        }

        .title-row {
          h2 {
            font-size: 1.2em;
            position: relative;
            margin-bottom: 1em;
            @include font-secondary;

            a.see-all {
              position: absolute;
              right: 0;
              font-size: .70em;
              text-transform: uppercase;
            }
          }
        }
      }
      
      .padding {
        padding: 4.5em 0;
      }

      .sponsors {
        .ads {
          @include row(12);
        }

        .ad {
          @include column(6);
          text-align: center;

          @media screen and (max-width: 767px) {
            @include column(12);
            margin-bottom: 20px;
          }

          img {
            max-width: 100%;
            height: auto;
            display: inline-block;
            line-height: 0;
          }
        }
      }

      .recommended {
        h2 {
          text-transform: uppercase;
          color: #000;
          font-weight: 300;
          font-size: 2em;
        }

        .post {
          @include column(3);
          @media screen and (max-width: 1023px) { @include column(6); margin-bottom: 2em; }
          @media screen and (max-width: 599px) { @include column(12); margin-bottom: 2em; }
          
          .background {
            display: block;
            position: relative;
            text-decoration: none;
            color: #FFF;
            height: 310px;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.78) 100%); 
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.78))); 
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%); 
            background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%); 
            background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%); 
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c7000000',GradientType=0 ); /* IE6-9 */

            .content {
              position: absolute;
              bottom: 0;
              left: 0;
              padding: 1em;
            }
          }

          .post-tags {
            color: $color-accent;
          }

          .post-author {
            @include font-secondary;
            font-style: italic;
            margin-bottom: 5px;
          }

          .post-title {
            @include font-secondary;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.2;
          }

        }
      }

      .recommended-videos {
        h2 {
          text-transform: uppercase;
          color: #000;
          font-weight: 300;
          font-size: 2em;
        }

        .post {
          @include column(3);
          @media screen and (max-width: 1023px) { @include column(6); margin-bottom: 2em; }
          @media screen and (max-width: 599px) { @include column(12); margin-bottom: 2em; }
          
          .post-image {
            display: block;
            padding-top: 58%;
            width: 100%;
          }

          .post-title {
            margin: .5em 0;

            a {
              color: inherit;
              text-decoration: none;
            }
          }

          .post-tags {
            @include font-secondary;
            font-size: .85em;

            &:before {
              display: inline-block;
              content: url('../img/ico-tag-bullet.png');
              margin-right: 5px;
            }

            a {
              color: $color-accent;
              text-decoration: none;
            }
          }
          
        }
      }

      .news {
        padding: 2em 0;

        .posts-column {
          @include column(9);
          @media screen and (max-width: 1023px) { @include column(12); }
        }

        .posts-sidebar {
          @include column(3);
          @media screen and (max-width: 1023px) { @include column(12); }
        }

        .post {
          @include column(3,9);
          margin-bottom: 2em !important;

          @media screen and (max-width: 1023px) { @include column(4); }
          @media screen and (max-width: 767px) { @include column(6); }
          @media screen and (max-width: 479px) { @include column(12); }
          
          .background {
            display: block;
            position: relative;
            text-decoration: none;
            color: #FFF;
            height: 445px;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.78) 100%); 
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.78))); 
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%); 
            background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%); 
            background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%); 
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c7000000',GradientType=0 ); /* IE6-9 */

            @media screen and (max-width: 599px) {height: 300px; }

            .content {
              position: absolute;
              bottom: 0;
              left: 0;
              padding: 1em;
            }
          }

          .post-tags {
            color: $color-accent;
          }

          .post-author {
            @include font-secondary;
            font-style: italic;
            margin-bottom: 5px;
          }

          .post-title {
            @include font-secondary;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1.2;
          }

        }
      }

      .watch {
        .featured-video {
          margin-bottom: 2em;
        }
      }

      .listen {
        min-height: 80%;
        background: #eee;
        padding-bottom: 3em;

        .header {
          margin-bottom: 1.5em;

          img {
            max-width: 100%;
            height: auto;
            display: block;
          }
        }

        .radio {
          background: rgba(0,0,0,0.35);
          padding: 1em;
          text-align: center;
          @include font-secondary;
          text-transform: uppercase;
          margin-bottom: 1.5em;
        }
      }

      .video-archive {
        padding: 2em 0;

        .post {
          @include column(3);
          margin-bottom: 1em !important;

          @media screen and (max-width: 1023px) { @include column(4); }
          @media screen and (max-width: 767px) { @include column(6); }
          @media screen and (max-width: 599px) { @include column(12); }

          .post-image {
            display: block;
            padding-top: 58%;
            width: 100%;
          }

          .post-title {
            margin: .5em 0;

            a {
              color: inherit;
              text-decoration: none;
            }
          }

          .post-tags {
            @include font-secondary;
            font-size: .85em;

            &:before {
              display: inline-block;
              content: url('../img/ico-tag-bullet.png');
              margin-right: 5px;
            }

            a {
              color: $color-accent;
              text-decoration: none;
            }
          }
        }

        .hr-4,
        .hr-3,
        .hr-2 {
          clear: both;
          border: 0;
          height: 0;
          width: 100%;
          display: none;
        }

        .hr-4 { display: block; }

        @media screen and (max-width: 1023px) {
          .hr-4 { display: none; }
          .hr-3 { display: block; }
        }

        @media screen and (max-width: 767px) {
          .hr-3 { display: none; }
          .hr-2 { display: block; }
        }

        @media screen and (max-width: 599px) {
          .hr-2 { display: none; }
        }
      }

    /* General Post Structure */

      .post {
        display: block;

        .post-image {
          a {
            display: block;
          }

          img {
            max-width: 100%;
            height: auto;
            display: block;
          }
        }

        .post-title {
          margin: .5em 0;

          a {
            color: inherit;
            text-decoration: none;
          }
        }

        .post-tags {
          @include font-secondary;
          font-size: .85em;

          &:before {
            display: inline-block;
            content: url('../img/ico-tag-bullet.png');
            margin-right: 5px;
          }

          a {
            color: $color-accent;
            text-decoration: none;
          }
        }
      }

      .featured .post {
        @include column(6);

        @media screen and (max-width: 767px) {
          @include column(12);
          margin-bottom: 20px;

          .post-image img {
            width: 100%;
          }
        }
      }

    /* Page/Post Single */

      article {
        position: relative;
        z-index: 2;
        background: #efefef;
        padding: 40px;

        @media screen and (max-width: 1023px) { padding: 30px; }
        @media screen and (max-width: 767px) { padding: 20px; }
        @media screen and (max-width: 599px) { padding: 20px 0; }
        
        &.post {
          .post-title {
            @include font-secondary;
            text-transform: uppercase;
            font-size: 3em;
            margin-bottom: .5em;
            color: #000;

            @media screen and (max-width: 1023px) { font-size: 2em; }
            @media screen and (max-width: 767px) { font-size: 1.5em; }
          }

          .post-tags {
            margin-bottom: 1em;
          }

          .post-meta {
            @include clearfix;
            margin-bottom: 1.5em;

            .post-author-image {
              display: block;
              float: left;
              margin: 0 20px 0 0;
              img { border-radius: 100%; }
            }

            .post-author {
              letter-spacing: .1em;
              font-size: 1.1em;
              font-weight: 400;
              color: #000;
              margin-top: 5px;
              text-shadow: 1px 0px 0 #000;
            }

            .post-date {
              @include font-secondary;
              font-style: italic;
              font-size: .85em;
              color: #818181;
              letter-spacing: .1em;
            }
          }

          .login-options {
            @include row(12);
            @include clearfix;

            .left {
              @include column(5);
            }

            .center {
              @include column(2);
              text-align: center;

              span {
                display: inline-block;
                width: 60px;
                height: 60px;
                line-height: 60px;
                background: $color-accent;
                color: #FFF;
                font-style: italic;
                font-size: 1.4em;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
              }
            }

            .right {
              @include column(5);
            }

            .left, .right {
              text-transform: uppercase;
              @include font-secondary;
              font-size: 2em;
              line-height: 1.2;

              .login {
                form {
                  font-size: .4em;
                }

                p.message,
                p.error {
                  font-size: .4em;
                  padding: 10px;
                  margin: 2em 0 10px 0;
                  background: #FFF;
                  @include font-secondary;
                  text-transform: none;
                }
              }

              .register {
                background: #FFF;
                padding: 30px;
                font-size: .4em;
                margin-top: 2em;
                text-transform: none;
                @include font-secondary;

                .register-btn {
                  display: block;
                  background: $color-accent;
                  color: #FFF;
                  font-size: 1.4em;
                  text-transform: uppercase;
                  font-weight: 700;
                  padding: 1em;
                  cursor: pointer;
                  text-align: center;
                  text-decoration: none;
                  -webkit-transition: opacity .30s ease-in;
                  -moz-transition: opacity .30s ease-in;
                  -ms-transition: opacity .30s ease-in;
                  -o-transition: opacity .30s ease-in;
                  transition: opacity .30s ease-in;

                  &:hover {
                    opacity: .8;
                  }
                }
              }
            }
          }
          
          .login {
            p.error {
              padding: 10px;
              margin: 0 0 10px 0;
              background: #FFF;
              @include font-secondary;
            }

            form {
              background: #FFF;
              padding: 30px;
              margin-top: 2em;
              text-transform: none;
              @include font-secondary;
            }

            input[type="text"],
            input[type="password"],
            input[type="submit"],
            input[type="email"] {
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              font-size: inherit;
              padding: .5em;
              font-size: 1.2em;
              background: #fafafa;
              border: 1px solid #EEE;
              width: 100%;
              @include font-secondary;
            }

            input[type="submit"] {
              background: $color-accent;
              color: #FFF;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 1.2em;
              padding: 1em;
              cursor: pointer;
              -webkit-transition: opacity .30s ease-in;
              -moz-transition: opacity .30s ease-in;
              -ms-transition: opacity .30s ease-in;
              -o-transition: opacity .30s ease-in;
              transition: opacity .30s ease-in;

              &:hover {
                opacity: .8;
              }
            }

            .action-links ul {
              padding: 0;
              
              li {
                display: inline-block;
                padding: 0;
                margin: 0 10px 0 0;
                background: none;

                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }

    /* Discover Page */

      .discover {
        background: #222;

        .genre-selector {
          position: relative;
          background: #393939;
          color: #9e9e9e;
          text-align: center;
          @include font-secondary;
          font-size: 2em;
          padding: 1em 0;
          line-height: 1;
          text-transform: uppercase;

          @media screen and (max-width: 767px) {
            text-align: left;
          }

          @media screen and (max-width: 600px) {
            font-size: 1.6em;
            padding: 20px 0;
          }

          .global-container {
            position: relative;
          }

          select {
            vertical-align: top;
            // -webkit-box-sizing: border-box;
            // -moz-box-sizing: border-box;
            // box-sizing: border-box;
            // -webkit-appearance: none;
            // -moz-appearance: none;
            // appearance: none;
            // background: transparent url('../img/bg-genre-select.png') no-repeat right;
            // padding-right: 30px;
            // border: 0;
            // -webkit-border-radius: 0;
            // -moz-border-radius: 0;
            // border-radius: 0;
            font: inherit;
            // text-transform: uppercase;
            // color: #FFF;
            // cursor: pointer;
            // width: auto;

            // &:focus {
            //   outline: 0;
            // }
          }
        }

        .submit-artist-btn {
          display: inline-block;
          background: $color-accent;
          color: #FFF;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -17px;
          height: 36px;
          line-height: 36px;
          padding: 0 15px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          text-transform: uppercase;
          font-size: .5em;
          font-weight: 600;
          text-decoration: none;
          letter-spacing: .1em;

          @media screen and (max-width: 600px) {
            position: relative;
            margin: 0 0 1em 0;
            font-size: .6em;
            display: block;
          }
        }

        .artists {
          @include clearfix();
          width: 100%;

          .artist {
            float: left;
            background: #333;
            width: 12.5%;

            @media screen and (max-width: 1439px) {
              width: 16.6666666%;
            }
            
            @media screen and (max-width: 1279px) {
              width: 20%;
            }

            @media screen and (max-width: 1023px) {
              width: 25%;
            }

            @media screen and (max-width: 767px) {
              width: 33.333333333%;
            }

            @media screen and (max-width: 479px) {
              width: 50%;
            }

            @media screen and (max-width: 320px) {
              width: 100%;
            }

            a.cover {
              display: block;
              position: relative;

              img {
                width: 100%;
                height: auto;
                display: block;
              }

              .play-btn {
                opacity: 0;
                position: absolute;
                top: 0; right: 0;
                bottom: 0; left: 0;
                background: rgba(0,0,0,0.7) url('../img/ico-discover-play.png') center center no-repeat;
                -webkit-transition: opacity .30s ease-in;
                -moz-transition: opacity .30s ease-in;
                -ms-transition: opacity .30s ease-in;
                -o-transition: opacity .30s ease-in;
                transition: opacity .30s ease-in;

                @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) { 
                  background: rgba(0,0,0,0.7) url('../img/ico-discover-play@2x.png') center center no-repeat;
                  background-size: 61px 61px;
                }
              }

              &:hover {
                opacity: 1;

                .play-btn {
                  opacity: 1;
                }
              }
            }

            a.profile {
              display: block;
              width: 100%;
              background: #121212;
              @include font-secondary;
              font-weight: 700;
              font-size: .9em;
              text-decoration: none;
              text-transform: uppercase;
              letter-spacing: 1px;
              color: #9e9e9e;
              padding: 10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-transition: color .3s, background .3s;
              -moz-transition: color .3s, background .3s;
              -ms-transition: color .3s, background .3s;
              -o-transition: color .3s, background .3s;
              transition: color .3s, background .3s;

              &:hover {
                opacity: 1;
                color: #FFF;
                background: #e5474c;
              }
            }
          }
        }
      }

      /* Dropdown control */
      .selectBox-dropdown {
          min-width: 250px;
          background: #000;
          position: relative;
          color: #FFF;
          outline: none;
          text-align: left;
          vertical-align: middle;
          background: none;
          display: inline-block;
          cursor: default;
          line-height: 1;
          font: inherit;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }

      .selectBox-dropdown:focus,
      .selectBox-dropdown:focus .selectBox-arrow {
          border-color: #666;
      }

      .selectBox-dropdown.selectBox-menuShowing-bottom {
          -moz-border-radius-bottomleft: 0;
          -moz-border-radius-bottomright: 0;
          -webkit-border-bottom-left-radius: 0;
          -webkit-border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
      }

      .selectBox-dropdown.selectBox-menuShowing-top {
          -moz-border-radius-topleft: 0;
          -moz-border-radius-topright: 0;
          -webkit-border-top-left-radius: 0;
          -webkit-border-top-right-radius: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
      }

      .selectBox-dropdown .selectBox-label {
          padding: 0 8px 0 0;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      .selectBox-dropdown .selectBox-arrow {
          position: absolute;
          top: 0;
          right: 0;
          width: 23px;
          height: 100%;
          //background: url(jquery.selectBox-arrow.gif) 50% center no-repeat;
          background: transparent url('../img/bg-genre-select.png') no-repeat right;
      }

      /* Dropdown menu */
      .selectBox-dropdown-menu {
          position: absolute;
          z-index: 99999;
          max-height: 200px;
          min-height: 1em;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          background: #FFF;
          @include font-secondary;
      }

      /* Inline control */
      .selectBox-inline {
          min-width: 200px;
          outline: none;
          border: solid 1px #BBB;
          background: #FFF;
          display: inline-block;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          overflow: auto;
      }

      .selectBox-inline:focus {
          border-color: #666;
      }

      /* Options */
      .selectBox-options,
      .selectBox-options LI,
      .selectBox-options LI A {
          list-style: none;
          display: block;
          cursor: default;
          padding: 0;
          margin: 0;
      }

      .selectBox-options LI A {
          line-height: 1.5;
          padding: 0 .5em;
          white-space: nowrap;
          overflow: hidden;
          background: 6px center no-repeat;
      }

      .selectBox-options LI.selectBox-hover A {
          background-color: #EEE;
      }

      .selectBox-options LI.selectBox-disabled A {
          color: #888;
          background-color: transparent;
      }

      .selectBox-options LI.selectBox-selected A {
          background-color: #C8DEF4;
      }

      .selectBox-options .selectBox-optgroup {
          color: #666;
          background: #EEE;
          font-weight: bold;
          line-height: 1.5;
          padding: 0 .3em;
          white-space: nowrap;
      }

      /* Disabled state */
      .selectBox.selectBox-disabled {
          color: #888 !important;
      }

      .selectBox-dropdown.selectBox-disabled .selectBox-arrow {
          opacity: .5;
          filter: alpha(opacity=50);
          border-color: #666;
      }

      .selectBox-inline.selectBox-disabled {
          color: #888 !important;
      }

      .selectBox-inline.selectBox-disabled .selectBox-options A {
          background-color: transparent !important;
      }


    /* Welcome Page (for artists who log in) */
      .featured-media.welcome {
        .global-container {
          background: none;
          min-height: 400px;

          @media screen and (max-width: 1023px) { min-height: 300px; }
          @media screen and (max-width: 767px) { 
            min-height: 250px; 
          }
          @media screen and (max-width: 479px) { min-height: 200px; max-width: 100%; }
        }
      }
      
      .main.welcome {
        padding-bottom: 10%;
      }

      .profiles-list-item {
        background: #FFF;
        margin: 0 0 10px 0;
        @include clearfix;
        -webkit-box-shadow: 0 2px 2px #DDD;
        -moz-box-shadow: 0 2px 2px #DDD;
        box-shadow: 0 2px 2px #DDD;

        &.blank {
          padding: 20px;
          font-size: 1.1em;
          @include font-secondary;

          p {
            line-height: 1.2;
          }

          p:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }

        a {
          
        }

        a.title {
          padding: 10px;
          font-size: 1.4em;
          font-weight: 600;
          float: left;
          width: 80%;
          text-decoration: none;
          @include font-secondary;

          @media screen and (max-width: 1024px) { width: 75%; }
          @media screen and (max-width: 768px) { width: 70%; }
          @media screen and (max-width: 480px) { width: 60%; }
          @media screen and (max-width: 320px) { width: 50%; }
        }

        a.post-edit-link,
        a.post-view-link {
          display: inline-block;
          padding: 10px;
          float: right;
          font-size: .8em;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
          text-decoration: none;
          @include font-secondary;
        }
      }

    /* Artist Pages */
      
      .artist {
        
        .post {
          .post-title {
            margin-bottom: 0em;
          }

          .post-tags {
            margin-bottom: 1.5em;
          }

          h3 {
            text-transform: uppercase;
            color: #000;
            font-weight: 300;
            font-size: 2em;

            @media screen and (max-width: 767px) { font-size: 1.8em; }
            @media screen and (max-width: 599px) { font-size: 1.6em; }
            @media screen and (max-width: 479px) { font-size: 1.4em; }
          }

          .post-excerpt {
            margin-bottom: 1em;
          }

          .discography {
            margin-bottom: 2em;
            @include clearfix;

            .album {
              margin-bottom: 4em;
              @include clearfix;
            }

            .cover {
              @include column(3.5);
              @media screen and (max-width: 599px) { @include column(12); }
              
              img {
                width: 100%;
                height: auto;
              }
            }

            .tracks {
              @include column(8.25);
              @include push(.25);
              @media screen and (max-width: 599px) { 
                @include column(12); 
                @include push(0);
              }

              .track {
                margin-bottom: .5em;
                @include font-secondary;
              }
            }
          }

          .connect {
            text-align: center;

            ul {
              display: block;
              margin: 0;
              padding: 0;

              li { 
                display: block; 
                margin: 0 0 10px 0;
                padding: 0;

                &:before { display: none; }
              }

              a {
                display: inline-block;
                background: #000;
                color: #FFF;
                @include font-secondary;
                font-size: 2em;
                padding: 10px;
                text-decoration: none;

                @media screen and (max-width: 1023px) { font-size: 1.7em; }
                @media screen and (max-width: 599px) { font-size: .8em; }
              }
            }
          }

        }

        

      }

    /* Store */

      .store {
        padding: 3em 0;
      }

      .products {
        @include row(12);
      }

      .product {
        @include column(6);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 3em !important;

        @media screen and (max-width: 599px) { @include column(12); }

        .product-image {
          border: 2em solid #FFF;
          margin-bottom: 2em;
          @media screen and (max-width: 1023px) { border: 1.5em solid #FFF; }
          @media screen and (max-width: 767px) { border: 1em solid #FFF; }

          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }

        .product-title {
          color: #000;
          font-size: 1em;
        }

        .product-description {
          @include font-secondary;
          font-size: .85em;
          line-height: 1.5;
        }

        a.product-link {
          background: $color-accent;
          color: #FFF;
          text-transform: uppercase;
          display: inline-block;
          padding: 10px 15%;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          @include font-secondary;
          font-weight: 600;
          text-decoration: none;
        }
      }

/* Front Page Sliders
  =============================================================== */

    .overflow-slider_wrapper .overflow-slider_body {
      @include font-secondary;
    }

    .small-carousel_wrapper .bx-viewport::before, 
    .small-carousel_wrapper .bx-viewport::after {
      background: #efefef !important;
    }

    .small-carousel_wrapper {
      li.slide {
        
        .post-title {
          margin: .5em 0;
          @include font-primary;
          font-size: 1em;
          font-weight: normal;

          a {
            color: inherit;
            text-decoration: none;
          }
        }

        .post-tags {
          @include font-secondary;
          font-size: .85em;

          &:before {
            display: inline-block;
            content: url('../img/ico-tag-bullet.png');
            margin-right: 5px;
          }

          a {
            color: $color-accent;
            text-decoration: none;
          }
        }
      }
    }

/* Pagination
  =============================================================== */
  
    .pagination {
      @include column(9,9);
      @include clearfix;
      color: #333;
      text-align: center;
      margin-bottom: 2em !important;

      @media screen and (max-width: 1023px) { @include column(12); }

      .posts-next,
      .posts-prev {
        display: inline-block;
        vertical-align: middle;
        line-height: 0;
        margin-top: -2px;
      }

      a, .page-numbers {
        display: inline-block;
        color: inherit;
        text-align: center;
        text-decoration: none;
        padding: 0 2px;
        @include font-secondary;
        font-weight: 700;
      }

      .page-numbers.current {
        color: #000;
      }

      .posts-next a,
      .posts-prev a {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 0 0 10px;
        border: 2px solid #373737;
        border-radius: 100%;
        background: url('../img/ico-arrow-page-right.png') no-repeat center center;
      }

      .posts-prev a {
        margin: 0 10px 0 0;
        background: url('../img/ico-arrow-page-left.png') no-repeat center center;
      }

    }

/* Widgets
  =============================================================== */ 

    .widget {
      padding: 1.25em;
      margin: 0 0 10px 0;
      @include clearfix;
    }

    .widget-search {
      position: relative;
      padding: 0;
      margin: 0;

      ::-webkit-input-placeholder { color: #a5a5a5; }
      :-moz-placeholder { color: #a5a5a5; }
      ::-moz-placeholder { color: #a5a5a5; }
      :-ms-input-placeholder { color: #a5a5a5; }

      input[type="text"] {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #2c2c2c;
        color: #a5a5a5;
        @include font-secondary;
        font-size: 1.1em;
        font-style: italic;
        font-weight: 600;
        padding: .75em 3em .75em 1.25em;
        vertical-align: middle;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        border: 0;

        &:focus {
          outline: 0;
        }
      }

      input[type="submit"] {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        width: 4em;
        background: transparent url('../img/ico-widget-search.png') no-repeat center center;
        color: #FFF;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0;
        border: 0;
      }
    }

    .widget-categories-tags {
      background: #FFF;
      padding: 1.25em;

      h3 {
        color: #4a4a4a;
        margin-bottom: .5em;
      }

      ul {
        @include font-secondary;
        font-style: italic;
        font-size: .9em;
        padding: 0;
        margin: 0 0 1.25em 0;

        &:last-child { margin-bottom: 0; }

        li {
          padding: 0;

          &:before { display: none; }
        }
      }

      a {
        display: block;
        line-height: 1.5;
        text-decoration: none;
        color: inherit;
      }
    }

    .widget-social {
      padding: 0;
      margin: 0;
      margin-bottom: 7px;

      .social-row {
        width: 100%;
        text-align: justify;
        font-size: 0;
        margin: 0;
        padding: 0;
        line-height: 0;

        @media screen and (max-width: 1023px) {
          text-align: left;
        }
      }

      .social-row .icon {
        display: inline-block;
        position: relative;
        padding: 0;
        margin: 0;
        width: 15%;
        padding-top: 15%; /* Used instead of height to give elements fluid, width-based height */
        margin-bottom: 3px;

        @media screen and (max-width: 1023px) {
          width: 40px;
          padding-top: 40px;
          float: left;
          margin: 0 3px 3px 0;

          &.placeholder {
            display: none;
          }
        }

        a {
          position: absolute;
          top: 0; right: 0;
          bottom: 0; left: 0;
          display: block;
          text-decoration: none;

          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
      }

      .social-row:after{
        content: '';
        display: inline-block;
        width: 100%;
      }

      // .social-row {
      //   margin: 0;
      //   padding: 0;
      //   @include row(12);

      //   .icon {
      //     margin: 0;
      //     padding: 0;
      //     @include column(4);

      //     a { 
      //       display: block; 
      //       width: 100%;
      //       background: #CCC;
      //     }

      //     img {
      //       display: block;
      //       width: 100%;
      //       height: auto;
      //     }
      //   }
      // }
    }

    .widget-ads {
      padding: 0;
      margin: 0;
      @include row(12);

      a {
        @include column(12);
        margin-bottom: 10px !important;

        @media screen and (max-width: 1023px) {
          @include column(4);
          margin-bottom: 10px !important;             
        } 
      }

      img { 
        display: block;
        width: 100%;
        height: auto;
      }
    }

/* Featured Media
   ========================================================================== */

    .featured-media {
      background-color: #3f3f3f;
      color: #FFF;
      text-align: center;
      position: relative;
      
      
      &.single {
        padding-bottom: 110px;
        margin-bottom: -110px;

        @media screen and (max-width: 1023px) {
          padding-bottom: 50px;
          margin-bottom: -50px;
        }

        @media screen and (max-width: 599px) {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }

      .background {
        position: absolute;
        top: 0; right: 0;
        bottom: 0; left: 0;
        max-width: 100%;
      }

      .global-container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        background: url('../img/bg-featured-media-social.png') right bottom no-repeat;
        padding: 40px 0 140px 0;
        min-height: 560px;

        @media screen and (max-width: 1023px) { min-height: 500px; }
        @media screen and (max-width: 767px) { 
          min-height: 400px; 
          background-size: 300px 200px; 
          padding: 40px 0 80px 0;
        }
        @media screen and (max-width: 599px) { min-height: 300px; }
        @media screen and (max-width: 479px) { min-height: 250px; max-width: 100%; }
      }

      &.video {
        background: #303030;

        .global-container {
          background: none;
        }
      }

      .social {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        padding: 0 20px 40px 0;

        @media screen and (max-width: 767px) {
          padding: 0 20px 20px 0;
        }

        ul {
          margin: 0;
          li {
            display: inline-block;
            margin: 0 0 0 10px;

            a {
              display: block;
              width: 56px;
              height: 56px;
              font-size: 24px;
              color: #FFF;
              border: 2px solid #FFF;
              border-radius: 56px;
              line-height: 56px;
              text-align: center;

              @media screen and (max-width: 767px) {
                width: 40px;
                height: 40px;
                font-size: 15px;
                line-height: 40px;
              }

              i {
                display: inline-block;
                vertical-align: baseline;
              }
            }
          }
        }
      }

      &.artist {
        text-align: left;

        .global-container {
          padding: 100px 0 150px 0;
        }

        .profile-image {
          display: inline-block;
          max-width: 100%;
          position: absolute;
          bottom: 150px;

          img {
            border: 13px solid #e8e8e8;
            display: block;
            max-width: 100%;
            width: 285px;
            height: auto;
          }

          @media screen and (max-width: 1023px) { 
            width: 200px;
            bottom: 40px;
            img { border: 9px solid #e8e8e8; }
          }

          @media screen and (max-width: 767px) { 
            width: 200px;
            bottom: 30px;
            img { border: 9px solid #e8e8e8; }
          }

          @media screen and (max-width: 479px) {
            width: 100px;
            bottom: 20px;
            left: 20px;
            img { border: 4px solid #e8e8e8; }
          }
        }
      }
    }

    
/* Media Queries
   ========================================================================== */
 

	@media only screen and (max-width: 1023px) {
		
	}

  @media only screen and (max-width: 767px) {
    html { font-size: 14px; } 

    .hide-mobile { display: none !important; }
    .hide-desktop {  display: block; }
  }


	@media print{ *{ background:transparent !important; color:#000 !important; box-shadow:none !important; text-shadow:none !important} a, a:visited{ text-decoration:underline} a[href]:after{ content:"("attr(href) ")"} abbr[title]:after{ content:"("attr(title) ")"}  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{ content:""} pre, blockquote{ border:1px solid #999; page-break-inside:avoid} thead{ display:table-header-group} tr, img{ page-break-inside:avoid} img{ max-width:100% !important} @page{ margin:0.5cm} p, h2, h3{ orphans:3; widows:3} h2, h3{ page-break-after:avoid}}