/* Typography 
   ========================================================================== */
  
  /* Fonts */
  
  @mixin font-primary {
    font-family: "chaparral-pro", "Georgia", serif;
  }

  @mixin font-secondary {
    font-family: "proxima-nova", sans-serif;
  }


  ::-moz-selection { background: #b3d4fc; text-shadow: none; }
  ::selection { background: #b3d4fc; text-shadow: none; }
  .hidden{ display:none !important;  visibility:hidden}

  
  /* Styles */

  * { -webkit-font-smoothing: antialiased; }

  html { 
    font-size: 15px; 
  }

  body { 
    line-height: 1.5em; 
    font-size: 100%;
    @include font-primary;
  }

  a {
    color: $color-accent;
    -webkit-transition: opacity .5s, color .5s, border-color .5s;
    -moz-transition: opacity .5s, color .5s, border-color .5s;
    -ms-transition: opacity .5s, color .5s, border-color .5s;
    -o-transition: opacity .5s, color .5s, border-color .5s;
    transition: opacity .5s, color .5s, border-color .5s;
    -webkit-backface-visibility: hidden;

    &:hover {
      opacity: .8;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1em;

    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        opacity: .8;
      }
    }
  }

  h1 { font-size:2.0em; }
  h2 { font-size:1.8em; }
  h3 { font-size:1.6em; }
  h4 { font-size:1.4em; }
  h5 { font-size:1.2em; }
  h6 { font-size:1.0em; }

  p { 
    padding: 0 0 1.45em 0;  
  }
  
  u {
    text-decoration: underline;
  }

  i, em { 
    font-style: italic; 
  } 

  strong { 
    font-weight: bold; 
  }

  mark { 
    padding: 3px 5px;  
  }

  big {
    font-size: 120%;
  }

  small { 
    font-size:80%; 
  }

  hr { margin-bottom: 25px; }

  .main {
    color: #333;

    // Links
      a {
        

        &:hover {
        }

        &.button {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: inline-block;
          background: #000;
          color: #FFF;
          padding: 15px 8%;
          font-weight: 600;
          font-size: 1.1em;
          text-transform: uppercase;
          text-decoration: none;
          line-height: 1;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;

          @media only screen and (max-width: 600px) {
            display: block;
            text-align: center;
          }
        }
      }

    // Lists
      ul, ol {
        padding: 0 0 1.5em 1.5em;
        
        ul, ol {
          padding: 0 0 0 1em;
        }

        li {
          line-height: 1.75em;
        }
      }

      ol {
        counter-reset: my-counter;
        
        > li {
          list-style: none;
          
          &:before {
            content: counter(my-counter) ".";
            counter-increment: my-counter;
            font-weight: 700;
            padding: 0 10px 0 0;
          }
        }
      }

      ul > li {
        list-style: none;
        padding-left: 25px; 
        
        &:before {
          vertical-align: text-top; 
          content: "•";
          font-size: 2.4em;
          line-height: .5em;
          color: inherit;
          margin: 2px 0 0 -25px;
          float: left;
        }               
      }

    // Headings
      h1, h2, h3, h4, h5, h6 {
        @include font-secondary;
        color: #4a4a4a;
      }
      
      h1 { font-size:1.3em; }
      h2 { font-size:1.2em; }
      h3 { font-size:1.1em; }
      h4 { font-size:1.0em; }
      h5 { font-size:1.0em; }
      h6 { font-size:1.0em; }

      .archive-title {
        text-transform: uppercase;
        color: $color-accent;
        
        span {
          color: #000;
        }
      }

    // Article Only

      article {
        p, ul, ol {
          color: #000;
          letter-spacing: .1em;
          font-size: 1.1em;
          line-height: 1.65em;
        }
      }

    // Misc 
      hr {
        border: 0;
        border-top: 1px solid #333;
      }

      blockquote {
        padding: 40px 10%;
        margin: 0 0 1em 0;
        font-size: 2em;
        line-height: 1.2;
        font-style: italic;
        color: #000;

        p {
          line-height: inherit;
        }

        p:last-of-type {
          padding: 0;
        }
      }

      .alignleft {
        float: left;
        margin: .5em 1em .5em 0;
      }

      .alignright {
        float: right;
        margin: .5em 0 .5em 1em;
      }

      .aligncenter {
        display: block;
        margin: .5em auto .5em auto;
      }

      .alignnone,
      .alignleft,
      .alignright,
      .aligncenter {
        @media screen and (max-width: 479px) {
          width: 100%;
          height: auto;
          display: block;
        } 
      }
  }


