/* line 41, ../scss/grid.scss */
body {
  width: 100%;
  *zoom: 1; }
  /* line 27, ../scss/grid.scss */
  body:before, body:after {
    content: "";
    display: table; }
  /* line 31, ../scss/grid.scss */
  body:after {
    clear: both; }
