/* line 13, ../scss/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 23, ../scss/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, ../scss/reset.scss */
body {
  line-height: 1; }

/* line 29, ../scss/reset.scss */
ol, ul {
  list-style: none; }

/* line 32, ../scss/reset.scss */
blockquote, q {
  quotes: none; }

/* line 36, ../scss/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 40, ../scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 45, ../scss/reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

/* line 45, ../scss/reset.scss */
.clearfix:after {
  clear: both; }

/* line 45, ../scss/reset.scss */
.clearfix {
  *zoom: 1; }

/* line 47, ../scss/reset.scss */
.clear {
  clear: both; }
