html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.clear {
  clear: both; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

/* ==========================================================================
  Mixins & Variables
========================================================================== */
/*  Variables  */
/* Mixins */
/* Typography 
   ========================================================================== */
/* Fonts */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

/* Styles */
* {
  -webkit-font-smoothing: antialiased; }

html {
  font-size: 15px; }

body {
  line-height: 1.5em;
  font-size: 100%;
  font-family: "chaparral-pro", "Georgia", serif; }

a {
  color: #d74e4e;
  -webkit-transition: opacity .5s, color .5s, border-color .5s;
  -moz-transition: opacity .5s, color .5s, border-color .5s;
  -ms-transition: opacity .5s, color .5s, border-color .5s;
  -o-transition: opacity .5s, color .5s, border-color .5s;
  transition: opacity .5s, color .5s, border-color .5s;
  -webkit-backface-visibility: hidden; }
  a:hover {
    opacity: .8; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1em; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      opacity: .8; }

h1 {
  font-size: 2.0em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

p {
  padding: 0 0 1.45em 0; }

u {
  text-decoration: underline; }

i, em {
  font-style: italic; }

strong {
  font-weight: bold; }

mark {
  padding: 3px 5px; }

big {
  font-size: 120%; }

small {
  font-size: 80%; }

hr {
  margin-bottom: 25px; }

.main {
  color: #333; }
  .main a.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    background: #000;
    color: #FFF;
    padding: 15px 8%;
    font-weight: 600;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    @media only screen and (max-width: 600px) {
      .main a.button {
        display: block;
        text-align: center; } }
  .main ul, .main ol {
    padding: 0 0 1.5em 1.5em; }
    .main ul ul, .main ul ol, .main ol ul, .main ol ol {
      padding: 0 0 0 1em; }
    .main ul li, .main ol li {
      line-height: 1.75em; }
  .main ol {
    counter-reset: my-counter; }
    .main ol > li {
      list-style: none; }
      .main ol > li:before {
        content: counter(my-counter) ".";
        counter-increment: my-counter;
        font-weight: 700;
        padding: 0 10px 0 0; }
  .main ul > li {
    list-style: none;
    padding-left: 25px; }
    .main ul > li:before {
      vertical-align: text-top;
      content: "•";
      font-size: 2.4em;
      line-height: .5em;
      color: inherit;
      margin: 2px 0 0 -25px;
      float: left; }
  .main h1, .main h2, .main h3, .main h4, .main h5, .main h6 {
    font-family: "proxima-nova", sans-serif;
    color: #4a4a4a; }
  .main h1 {
    font-size: 1.3em; }
  .main h2 {
    font-size: 1.2em; }
  .main h3 {
    font-size: 1.1em; }
  .main h4 {
    font-size: 1.0em; }
  .main h5 {
    font-size: 1.0em; }
  .main h6 {
    font-size: 1.0em; }
  .main .archive-title {
    text-transform: uppercase;
    color: #d74e4e; }
    .main .archive-title span {
      color: #000; }
  .main article p, .main article ul, .main article ol {
    color: #000;
    letter-spacing: .1em;
    font-size: 1.1em;
    line-height: 1.65em; }
  .main hr {
    border: 0;
    border-top: 1px solid #333; }
  .main blockquote {
    padding: 40px 10%;
    margin: 0 0 1em 0;
    font-size: 2em;
    line-height: 1.2;
    font-style: italic;
    color: #000; }
    .main blockquote p {
      line-height: inherit; }
    .main blockquote p:last-of-type {
      padding: 0; }
  .main .alignleft {
    float: left;
    margin: .5em 1em .5em 0; }
  .main .alignright {
    float: right;
    margin: .5em 0 .5em 1em; }
  .main .aligncenter {
    display: block;
    margin: .5em auto .5em auto; }
  @media screen and (max-width: 479px) {
    .main .alignnone,
    .main .alignleft,
    .main .alignright,
    .main .aligncenter {
      width: 100%;
      height: auto;
      display: block; } }

/* Main Page Structure
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #EEE;
  -webkit-text-size-adjust: 100%; }

body {
  height: 100%;
  background: transparent;
  width: 100%;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes fontfix {
  from {
    opacity: 1; }

  to {
    opacity: 1; } }
.global-container {
  max-width: 90%;
  width: 1020px;
  margin: 0 auto; }

.hide {
  display: none; }

.hide-mobile {
  display: auto; }

.hide-desktop {
  display: none; }

.row-12 {
  display: block;
  width: 102.38095%;
  margin: 0 -1.19048%;
  *zoom: 1; }
  .row-12:before, .row-12:after {
    content: "";
    display: table; }
  .row-12:after {
    clear: both; }

.row-9 {
  display: block;
  width: 103.1746%;
  margin: 0 -1.5873%;
  *zoom: 1; }
  .row-9:before, .row-9:after {
    content: "";
    display: table; }
  .row-9:after {
    clear: both; }
  @media screen and (max-width: 1023px) {
    .row-9 {
      display: block;
      width: 102.38095%;
      margin: 0 -1.19048%;
      *zoom: 1; }
      .row-9:before, .row-9:after {
        content: "";
        display: table; }
      .row-9:after {
        clear: both; } }

.button {
  display: inline-block;
  background: #3a3a3a;
  color: #FFF;
  padding: 6px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: .9;
  line-height: 1; }

.search-popup {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  position: relative; }
  .search-popup ::-webkit-input-placeholder {
    color: #FFF; }
  .search-popup :-moz-placeholder {
    color: #FFF; }
  .search-popup ::-moz-placeholder {
    color: #FFF; }
  .search-popup :-ms-input-placeholder {
    color: #FFF; }
  .search-popup input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #FFF;
    padding: .5em 15% .5em 10%;
    color: #FFF;
    font-family: "proxima-nova", sans-serif;
    font-size: 2.4em;
    font-style: italic;
    letter-spacing: .1em; }
    .search-popup input[type="text"]:focus {
      outline: 0; }
  .search-popup input[type="submit"] {
    position: absolute;
    top: 0;
    right: 10%;
    bottom: 0;
    width: 16px;
    background: url("../img/ico-search-popup.png") no-repeat center center;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer; }
  .search-popup .mfp-close {
    display: none !important; }

/* Browse Happy */
.browsehappy {
  position: relative;
  z-index: 1000;
  margin: 0;
  padding: 10px 0;
  background: #fffac5;
  color: #000; }
  .browsehappy .global-container {
    max-width: 96%; }
  .browsehappy strong {
    color: inherit;
    text-transform: uppercase; }
  .browsehappy a {
    color: #5a619b;
    font-weight: bold; }

/* General Structural Styles
   ========================================================================== */
/* Media - MediaElement */
.mejs-container {
  width: 100% !important; }

.mejs-container .mejs-controls {
  background: #dedede !important; }
  .mejs-container .mejs-controls .mejs-time span {
    color: #414141 !important; }
  .mejs-container .mejs-controls .mejs-button {
    height: 30px; }
    .mejs-container .mejs-controls .mejs-button button:focus {
      outline: 0; }
  .mejs-container .mejs-controls .mejs-playpause-button {
    background: #b4b4b4 !important; }
    .mejs-container .mejs-controls .mejs-playpause-button button {
      background-image: url("../img/mejs-controls.png") !important; }
  .mejs-container .mejs-controls .mejs-volume-button {
    border-left: 1px solid #b7b7b7;
    width: 25px; }
    .mejs-container .mejs-controls .mejs-volume-button button {
      background-image: url("../img/mejs-controls.png") !important; }
  .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: #cecece !important; }
  .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #969696 !important; }
  .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
    background: #CCC !important; }
  .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: #cecece !important; }
  .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #d74e4e !important; }

/* Fix for last item dropping below the controls. */
.mejs-container .mejs-controls > div:last-of-type {
  position: relative;
  clear: both;
  float: right;
  top: -31px; }

/* Header */
header {
  background: #FFF;
  min-height: 90px;
  line-height: 90px;
  font-family: "proxima-nova", sans-serif; }
  header .global-container {
    height: 100%; }
  header h1 {
    display: inline-block;
    line-height: inherit;
    height: 100%;
    margin: 0;
    padding: 0; }
    header h1 a {
      display: inline-block;
      vertical-align: baseline;
      line-height: inherit;
      background: url("../img/logo-artsoulkonnect.png") no-repeat center center;
      width: 197px;
      height: 23px; }
      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        header h1 a {
          background: url("../img/logo-artsoulkonnect@2x.png") no-repeat center center;
          background-size: 197px 23px; } }
  header nav.desktop-nav {
    float: right;
    display: inline-block; }
    header nav.desktop-nav ul {
      display: block; }
      header nav.desktop-nav ul li {
        display: inline-block; }
        header nav.desktop-nav ul li > a {
          display: block;
          color: #000;
          text-decoration: none;
          text-transform: lowercase;
          letter-spacing: .1em;
          font-weight: 500;
          line-height: 1;
          padding: 10px 15px; }
          @media screen and (max-width: 1023px) {
            header nav.desktop-nav ul li > a {
              padding: 10px 12px; } }
        header nav.desktop-nav ul li.current-menu-item a {
          border: 1px solid #acacac; }
        header nav.desktop-nav ul li.nav-search a {
          text-indent: -99999px;
          background: url("../img/ico-nav-search.png") no-repeat center center; }
        header nav.desktop-nav ul li:last-of-type a {
          padding-right: 0; }
  header nav.mobile-nav {
    position: relative;
    background: #FFF;
    line-height: 1;
    margin: 0;
    padding: 0;
    z-index: 1; }
    header nav.mobile-nav .show-mobile-menu {
      position: absolute;
      right: 0;
      top: -65px;
      text-align: right;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 17px;
      z-index: 20; }
      header nav.mobile-nav .show-mobile-menu span {
        display: inline-block;
        vertical-align: text-top;
        margin: 0 5px 0 0; }
        header nav.mobile-nav .show-mobile-menu span i {
          display: block;
          height: 4px;
          width: 24px;
          background: #acacac;
          margin: 4px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px; }
    header nav.mobile-nav ul li {
      display: block; }
      header nav.mobile-nav ul li > a {
        display: block;
        color: #000;
        text-decoration: none;
        text-transform: lowercase;
        letter-spacing: .1em;
        font-weight: 500;
        font-size: 1.2em;
        line-height: 1;
        padding: 10px 15px; }
      header nav.mobile-nav ul li.current-menu-item a {
        border: 1px solid #acacac; }
      header nav.mobile-nav ul li.nav-search a {
        text-indent: -99999px;
        background: url("../img/ico-nav-search.png") no-repeat 15px center;
        margin-bottom: 20px; }

/* Footer */
footer {
  font-family: "proxima-nova", sans-serif; }

footer.primary {
  background: #333;
  padding: 25px 0 75px 0;
  color: #FFF; }
  footer.primary .columns {
    display: block;
    width: 102.38095%;
    margin: 0 -1.19048%;
    *zoom: 1;
    *zoom: 1; }
    footer.primary .columns:before, footer.primary .columns:after {
      content: "";
      display: table; }
    footer.primary .columns:after {
      clear: both; }
    footer.primary .columns:before, footer.primary .columns:after {
      content: "";
      display: table; }
    footer.primary .columns:after {
      clear: both; }
  footer.primary .row-border {
    display: inline;
    float: left;
    width: 97.61905%;
    margin: 0 1.19048%;
    border-top: 1px solid #535353; }
  footer.primary .row-border-tablet {
    display: none; }
    @media screen and (max-width: 1023px) {
      footer.primary .row-border-tablet {
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%;
        border-top: 1px solid #535353; } }
  footer.primary [class^="col-"] {
    padding-top: 2em;
    min-height: 300px; }
    @media screen and (max-width: 1023px) {
      footer.primary [class^="col-"] {
        min-height: 0; } }
    footer.primary [class^="col-"] h3 {
      letter-spacing: normal;
      color: #e8e8e8;
      font-weight: 400; }
    footer.primary [class^="col-"] a {
      color: #FFF;
      text-decoration: none; }
    @media screen and (max-width: 767px) {
      footer.primary [class^="col-"] {
        margin-bottom: 20px !important; } }
  footer.primary .col-1 {
    display: inline;
    float: left;
    width: 47.61905%;
    margin: 0 1.19048%;
    color: #949494;
    letter-spacing: .1em; }
    @media screen and (max-width: 1023px) {
      footer.primary .col-1 {
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%; } }
  footer.primary .col-2 {
    display: inline;
    float: left;
    width: 22.61905%;
    margin: 0 1.19048%;
    border-left: 1px solid #535353;
    padding-left: 30px; }
    @media screen and (max-width: 1023px) {
      footer.primary .col-2 {
        border: 0;
        padding-left: 0;
        display: inline;
        float: left;
        width: 47.61905%;
        margin: 0 1.19048%; } }
    @media screen and (max-width: 767px) {
      footer.primary .col-2 {
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%; } }
    footer.primary .col-2 ul li {
      border-bottom: 1px solid #535353;
      padding: 10px 0; }
      footer.primary .col-2 ul li:first-child {
        padding-top: 0; }
      footer.primary .col-2 ul li:last-child {
        border: 0; }
      footer.primary .col-2 ul li a:after {
        display: inline-block;
        content: url("../img/ico-arrow-footer-list.png");
        width: 10px;
        margin-left: 8px; }
  footer.primary .col-3 {
    display: inline;
    float: left;
    width: 22.61905%;
    margin: 0 1.19048%;
    border-left: 1px solid #535353;
    padding-left: 30px; }
    @media screen and (max-width: 1023px) {
      footer.primary .col-3 {
        display: inline;
        float: left;
        width: 47.61905%;
        margin: 0 1.19048%; } }
    @media screen and (max-width: 767px) {
      footer.primary .col-3 {
        border: 0;
        border-top: 1px solid #535353;
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%;
        padding-left: 0; } }
    footer.primary .col-3 ul li {
      margin: 3px 0; }
      footer.primary .col-3 ul li a {
        display: block;
        background: #1e1f1f;
        color: #e8e8e8;
        padding: 5px;
        text-align: center; }

footer.secondary {
  background: #585858;
  padding: 45px 0;
  color: #FFF;
  font-style: italic;
  text-align: center; }
  footer.secondary hr {
    border: 0;
    height: 0;
    width: 100%;
    margin: 0; }

.rocket {
  display: inline-block;
  width: 48px;
  height: 12px;
  margin-top: 20px;
  background: url("../img/ico-rocket.png") no-repeat center center; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .rocket {
      background: url("../img/ico-rocket@2x.png") no-repeat center center;
      background-size: 48px 12px; } }

/* Sections */
.content-row {
  margin: 4em 0;
  *zoom: 1; }
  .content-row:before, .content-row:after {
    content: "";
    display: table; }
  .content-row:after {
    clear: both; }
  @media screen and (max-width: 600px) {
    .content-row {
      margin: 2em 0; } }
  .content-row .title-row h2 {
    font-size: 1.2em;
    position: relative;
    margin-bottom: 1em;
    font-family: "proxima-nova", sans-serif; }
    .content-row .title-row h2 a.see-all {
      position: absolute;
      right: 0;
      font-size: .70em;
      text-transform: uppercase; }

.padding {
  padding: 4.5em 0; }

.sponsors .ads {
  display: block;
  width: 102.38095%;
  margin: 0 -1.19048%;
  *zoom: 1; }
  .sponsors .ads:before, .sponsors .ads:after {
    content: "";
    display: table; }
  .sponsors .ads:after {
    clear: both; }
.sponsors .ad {
  display: inline;
  float: left;
  width: 47.61905%;
  margin: 0 1.19048%;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .sponsors .ad {
      display: inline;
      float: left;
      width: 97.61905%;
      margin: 0 1.19048%;
      margin-bottom: 20px; } }
  .sponsors .ad img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    line-height: 0; }

.recommended h2 {
  text-transform: uppercase;
  color: #000;
  font-weight: 300;
  font-size: 2em; }
.recommended .post {
  display: inline;
  float: left;
  width: 22.61905%;
  margin: 0 1.19048%; }
  @media screen and (max-width: 1023px) {
    .recommended .post {
      display: inline;
      float: left;
      width: 47.61905%;
      margin: 0 1.19048%;
      margin-bottom: 2em; } }
  @media screen and (max-width: 599px) {
    .recommended .post {
      display: inline;
      float: left;
      width: 97.61905%;
      margin: 0 1.19048%;
      margin-bottom: 2em; } }
  .recommended .post .background {
    display: block;
    position: relative;
    text-decoration: none;
    color: #FFF;
    height: 310px;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.78)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#c7000000',GradientType=0 );
    /* IE6-9 */ }
    .recommended .post .background .content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1em; }
  .recommended .post .post-tags {
    color: #d74e4e; }
  .recommended .post .post-author {
    font-family: "proxima-nova", sans-serif;
    font-style: italic;
    margin-bottom: 5px; }
  .recommended .post .post-title {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2; }

.recommended-videos h2 {
  text-transform: uppercase;
  color: #000;
  font-weight: 300;
  font-size: 2em; }
.recommended-videos .post {
  display: inline;
  float: left;
  width: 22.61905%;
  margin: 0 1.19048%; }
  @media screen and (max-width: 1023px) {
    .recommended-videos .post {
      display: inline;
      float: left;
      width: 47.61905%;
      margin: 0 1.19048%;
      margin-bottom: 2em; } }
  @media screen and (max-width: 599px) {
    .recommended-videos .post {
      display: inline;
      float: left;
      width: 97.61905%;
      margin: 0 1.19048%;
      margin-bottom: 2em; } }
  .recommended-videos .post .post-image {
    display: block;
    padding-top: 58%;
    width: 100%; }
  .recommended-videos .post .post-title {
    margin: .5em 0; }
    .recommended-videos .post .post-title a {
      color: inherit;
      text-decoration: none; }
  .recommended-videos .post .post-tags {
    font-family: "proxima-nova", sans-serif;
    font-size: .85em; }
    .recommended-videos .post .post-tags:before {
      display: inline-block;
      content: url("../img/ico-tag-bullet.png");
      margin-right: 5px; }
    .recommended-videos .post .post-tags a {
      color: #d74e4e;
      text-decoration: none; }

.news {
  padding: 2em 0; }
  .news .posts-column {
    display: inline;
    float: left;
    width: 72.61905%;
    margin: 0 1.19048%; }
    @media screen and (max-width: 1023px) {
      .news .posts-column {
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%; } }
  .news .posts-sidebar {
    display: inline;
    float: left;
    width: 22.61905%;
    margin: 0 1.19048%; }
    @media screen and (max-width: 1023px) {
      .news .posts-sidebar {
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%; } }
  .news .post {
    display: inline;
    float: left;
    width: 30.15873%;
    margin: 0 1.5873%;
    margin-bottom: 2em !important; }
    @media screen and (max-width: 1023px) {
      .news .post {
        display: inline;
        float: left;
        width: 30.95238%;
        margin: 0 1.19048%; } }
    @media screen and (max-width: 767px) {
      .news .post {
        display: inline;
        float: left;
        width: 47.61905%;
        margin: 0 1.19048%; } }
    @media screen and (max-width: 479px) {
      .news .post {
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%; } }
    .news .post .background {
      display: block;
      position: relative;
      text-decoration: none;
      color: #FFF;
      height: 445px;
      background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.78)));
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
      background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
      background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.78) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#c7000000',GradientType=0 );
      /* IE6-9 */ }
      @media screen and (max-width: 599px) {
        .news .post .background {
          height: 300px; } }
      .news .post .background .content {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1em; }
    .news .post .post-tags {
      color: #d74e4e; }
    .news .post .post-author {
      font-family: "proxima-nova", sans-serif;
      font-style: italic;
      margin-bottom: 5px; }
    .news .post .post-title {
      font-family: "proxima-nova", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.2; }

.watch .featured-video {
  margin-bottom: 2em; }

.listen {
  min-height: 80%;
  background: #eee;
  padding-bottom: 3em; }
  .listen .header {
    margin-bottom: 1.5em; }
    .listen .header img {
      max-width: 100%;
      height: auto;
      display: block; }
  .listen .radio {
    background: rgba(0, 0, 0, 0.35);
    padding: 1em;
    text-align: center;
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    margin-bottom: 1.5em; }

.video-archive {
  padding: 2em 0; }
  .video-archive .post {
    display: inline;
    float: left;
    width: 22.61905%;
    margin: 0 1.19048%;
    margin-bottom: 1em !important; }
    @media screen and (max-width: 1023px) {
      .video-archive .post {
        display: inline;
        float: left;
        width: 30.95238%;
        margin: 0 1.19048%; } }
    @media screen and (max-width: 767px) {
      .video-archive .post {
        display: inline;
        float: left;
        width: 47.61905%;
        margin: 0 1.19048%; } }
    @media screen and (max-width: 599px) {
      .video-archive .post {
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%; } }
    .video-archive .post .post-image {
      display: block;
      padding-top: 58%;
      width: 100%; }
    .video-archive .post .post-title {
      margin: .5em 0; }
      .video-archive .post .post-title a {
        color: inherit;
        text-decoration: none; }
    .video-archive .post .post-tags {
      font-family: "proxima-nova", sans-serif;
      font-size: .85em; }
      .video-archive .post .post-tags:before {
        display: inline-block;
        content: url("../img/ico-tag-bullet.png");
        margin-right: 5px; }
      .video-archive .post .post-tags a {
        color: #d74e4e;
        text-decoration: none; }
  .video-archive .hr-4,
  .video-archive .hr-3,
  .video-archive .hr-2 {
    clear: both;
    border: 0;
    height: 0;
    width: 100%;
    display: none; }
  .video-archive .hr-4 {
    display: block; }
  @media screen and (max-width: 1023px) {
    .video-archive .hr-4 {
      display: none; }
    .video-archive .hr-3 {
      display: block; } }
  @media screen and (max-width: 767px) {
    .video-archive .hr-3 {
      display: none; }
    .video-archive .hr-2 {
      display: block; } }
  @media screen and (max-width: 599px) {
    .video-archive .hr-2 {
      display: none; } }

/* General Post Structure */
.post {
  display: block; }
  .post .post-image a {
    display: block; }
  .post .post-image img {
    max-width: 100%;
    height: auto;
    display: block; }
  .post .post-title {
    margin: .5em 0; }
    .post .post-title a {
      color: inherit;
      text-decoration: none; }
  .post .post-tags {
    font-family: "proxima-nova", sans-serif;
    font-size: .85em; }
    .post .post-tags:before {
      display: inline-block;
      content: url("../img/ico-tag-bullet.png");
      margin-right: 5px; }
    .post .post-tags a {
      color: #d74e4e;
      text-decoration: none; }

.featured .post {
  display: inline;
  float: left;
  width: 47.61905%;
  margin: 0 1.19048%; }
  @media screen and (max-width: 767px) {
    .featured .post {
      display: inline;
      float: left;
      width: 97.61905%;
      margin: 0 1.19048%;
      margin-bottom: 20px; }
      .featured .post .post-image img {
        width: 100%; } }

/* Page/Post Single */
article {
  position: relative;
  z-index: 2;
  background: #efefef;
  padding: 40px; }
  @media screen and (max-width: 1023px) {
    article {
      padding: 30px; } }
  @media screen and (max-width: 767px) {
    article {
      padding: 20px; } }
  @media screen and (max-width: 599px) {
    article {
      padding: 20px 0; } }
  article.post .post-title {
    font-family: "proxima-nova", sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: .5em;
    color: #000; }
    @media screen and (max-width: 1023px) {
      article.post .post-title {
        font-size: 2em; } }
    @media screen and (max-width: 767px) {
      article.post .post-title {
        font-size: 1.5em; } }
  article.post .post-tags {
    margin-bottom: 1em; }
  article.post .post-meta {
    *zoom: 1;
    margin-bottom: 1.5em; }
    article.post .post-meta:before, article.post .post-meta:after {
      content: "";
      display: table; }
    article.post .post-meta:after {
      clear: both; }
    article.post .post-meta .post-author-image {
      display: block;
      float: left;
      margin: 0 20px 0 0; }
      article.post .post-meta .post-author-image img {
        border-radius: 100%; }
    article.post .post-meta .post-author {
      letter-spacing: .1em;
      font-size: 1.1em;
      font-weight: 400;
      color: #000;
      margin-top: 5px;
      text-shadow: 1px 0px 0 #000; }
    article.post .post-meta .post-date {
      font-family: "proxima-nova", sans-serif;
      font-style: italic;
      font-size: .85em;
      color: #818181;
      letter-spacing: .1em; }
  article.post .login-options {
    display: block;
    width: 102.38095%;
    margin: 0 -1.19048%;
    *zoom: 1;
    *zoom: 1; }
    article.post .login-options:before, article.post .login-options:after {
      content: "";
      display: table; }
    article.post .login-options:after {
      clear: both; }
    article.post .login-options:before, article.post .login-options:after {
      content: "";
      display: table; }
    article.post .login-options:after {
      clear: both; }
    article.post .login-options .left {
      display: inline;
      float: left;
      width: 39.28571%;
      margin: 0 1.19048%; }
    article.post .login-options .center {
      display: inline;
      float: left;
      width: 14.28571%;
      margin: 0 1.19048%;
      text-align: center; }
      article.post .login-options .center span {
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        background: #d74e4e;
        color: #FFF;
        font-style: italic;
        font-size: 1.4em;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%; }
    article.post .login-options .right {
      display: inline;
      float: left;
      width: 39.28571%;
      margin: 0 1.19048%; }
    article.post .login-options .left, article.post .login-options .right {
      text-transform: uppercase;
      font-family: "proxima-nova", sans-serif;
      font-size: 2em;
      line-height: 1.2; }
      article.post .login-options .left .login form, article.post .login-options .right .login form {
        font-size: .4em; }
      article.post .login-options .left .login p.message,
      article.post .login-options .left .login p.error, article.post .login-options .right .login p.message,
      article.post .login-options .right .login p.error {
        font-size: .4em;
        padding: 10px;
        margin: 2em 0 10px 0;
        background: #FFF;
        font-family: "proxima-nova", sans-serif;
        text-transform: none; }
      article.post .login-options .left .register, article.post .login-options .right .register {
        background: #FFF;
        padding: 30px;
        font-size: .4em;
        margin-top: 2em;
        text-transform: none;
        font-family: "proxima-nova", sans-serif; }
        article.post .login-options .left .register .register-btn, article.post .login-options .right .register .register-btn {
          display: block;
          background: #d74e4e;
          color: #FFF;
          font-size: 1.4em;
          text-transform: uppercase;
          font-weight: 700;
          padding: 1em;
          cursor: pointer;
          text-align: center;
          text-decoration: none;
          -webkit-transition: opacity .30s ease-in;
          -moz-transition: opacity .30s ease-in;
          -ms-transition: opacity .30s ease-in;
          -o-transition: opacity .30s ease-in;
          transition: opacity .30s ease-in; }
          article.post .login-options .left .register .register-btn:hover, article.post .login-options .right .register .register-btn:hover {
            opacity: .8; }
  article.post .login p.error {
    padding: 10px;
    margin: 0 0 10px 0;
    background: #FFF;
    font-family: "proxima-nova", sans-serif; }
  article.post .login form {
    background: #FFF;
    padding: 30px;
    margin-top: 2em;
    text-transform: none;
    font-family: "proxima-nova", sans-serif; }
  article.post .login input[type="text"],
  article.post .login input[type="password"],
  article.post .login input[type="submit"],
  article.post .login input[type="email"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: inherit;
    padding: .5em;
    font-size: 1.2em;
    background: #fafafa;
    border: 1px solid #EEE;
    width: 100%;
    font-family: "proxima-nova", sans-serif; }
  article.post .login input[type="submit"] {
    background: #d74e4e;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    padding: 1em;
    cursor: pointer;
    -webkit-transition: opacity .30s ease-in;
    -moz-transition: opacity .30s ease-in;
    -ms-transition: opacity .30s ease-in;
    -o-transition: opacity .30s ease-in;
    transition: opacity .30s ease-in; }
    article.post .login input[type="submit"]:hover {
      opacity: .8; }
  article.post .login .action-links ul {
    padding: 0; }
    article.post .login .action-links ul li {
      display: inline-block;
      padding: 0;
      margin: 0 10px 0 0;
      background: none; }
      article.post .login .action-links ul li:before {
        display: none; }

/* Discover Page */
.discover {
  background: #222; }
  .discover .genre-selector {
    position: relative;
    background: #393939;
    color: #9e9e9e;
    text-align: center;
    font-family: "proxima-nova", sans-serif;
    font-size: 2em;
    padding: 1em 0;
    line-height: 1;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .discover .genre-selector {
        text-align: left; } }
    @media screen and (max-width: 600px) {
      .discover .genre-selector {
        font-size: 1.6em;
        padding: 20px 0; } }
    .discover .genre-selector .global-container {
      position: relative; }
    .discover .genre-selector select {
      vertical-align: top;
      font: inherit; }
  .discover .submit-artist-btn {
    display: inline-block;
    background: #d74e4e;
    color: #FFF;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: .5em;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: .1em; }
    @media screen and (max-width: 600px) {
      .discover .submit-artist-btn {
        position: relative;
        margin: 0 0 1em 0;
        font-size: .6em;
        display: block; } }
  .discover .artists {
    *zoom: 1;
    width: 100%; }
    .discover .artists:before, .discover .artists:after {
      content: "";
      display: table; }
    .discover .artists:after {
      clear: both; }
    .discover .artists .artist {
      float: left;
      background: #333;
      width: 12.5%; }
      @media screen and (max-width: 1439px) {
        .discover .artists .artist {
          width: 16.6666666%; } }
      @media screen and (max-width: 1279px) {
        .discover .artists .artist {
          width: 20%; } }
      @media screen and (max-width: 1023px) {
        .discover .artists .artist {
          width: 25%; } }
      @media screen and (max-width: 767px) {
        .discover .artists .artist {
          width: 33.333333333%; } }
      @media screen and (max-width: 479px) {
        .discover .artists .artist {
          width: 50%; } }
      @media screen and (max-width: 320px) {
        .discover .artists .artist {
          width: 100%; } }
      .discover .artists .artist a.cover {
        display: block;
        position: relative; }
        .discover .artists .artist a.cover img {
          width: 100%;
          height: auto;
          display: block; }
        .discover .artists .artist a.cover .play-btn {
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.7) url("../img/ico-discover-play.png") center center no-repeat;
          -webkit-transition: opacity .30s ease-in;
          -moz-transition: opacity .30s ease-in;
          -ms-transition: opacity .30s ease-in;
          -o-transition: opacity .30s ease-in;
          transition: opacity .30s ease-in; }
          @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            .discover .artists .artist a.cover .play-btn {
              background: rgba(0, 0, 0, 0.7) url("../img/ico-discover-play@2x.png") center center no-repeat;
              background-size: 61px 61px; } }
        .discover .artists .artist a.cover:hover {
          opacity: 1; }
          .discover .artists .artist a.cover:hover .play-btn {
            opacity: 1; }
      .discover .artists .artist a.profile {
        display: block;
        width: 100%;
        background: #121212;
        font-family: "proxima-nova", sans-serif;
        font-weight: 700;
        font-size: .9em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #9e9e9e;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-transition: color .3s, background .3s;
        -moz-transition: color .3s, background .3s;
        -ms-transition: color .3s, background .3s;
        -o-transition: color .3s, background .3s;
        transition: color .3s, background .3s; }
        .discover .artists .artist a.profile:hover {
          opacity: 1;
          color: #FFF;
          background: #e5474c; }

/* Dropdown control */
.selectBox-dropdown {
  min-width: 250px;
  background: #000;
  position: relative;
  color: #FFF;
  outline: none;
  text-align: left;
  vertical-align: middle;
  background: none;
  display: inline-block;
  cursor: default;
  line-height: 1;
  font: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.selectBox-dropdown:focus,
.selectBox-dropdown:focus .selectBox-arrow {
  border-color: #666; }

.selectBox-dropdown.selectBox-menuShowing-bottom {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.selectBox-dropdown.selectBox-menuShowing-top {
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.selectBox-dropdown .selectBox-label {
  padding: 0 8px 0 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.selectBox-dropdown .selectBox-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 100%;
  background: transparent url("../img/bg-genre-select.png") no-repeat right; }

/* Dropdown menu */
.selectBox-dropdown-menu {
  position: absolute;
  z-index: 99999;
  max-height: 200px;
  min-height: 1em;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #FFF;
  font-family: "proxima-nova", sans-serif; }

/* Inline control */
.selectBox-inline {
  min-width: 200px;
  outline: none;
  border: solid 1px #BBB;
  background: #FFF;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: auto; }

.selectBox-inline:focus {
  border-color: #666; }

/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A {
  list-style: none;
  display: block;
  cursor: default;
  padding: 0;
  margin: 0; }

.selectBox-options LI A {
  line-height: 1.5;
  padding: 0 .5em;
  white-space: nowrap;
  overflow: hidden;
  background: 6px center no-repeat; }

.selectBox-options LI.selectBox-hover A {
  background-color: #EEE; }

.selectBox-options LI.selectBox-disabled A {
  color: #888;
  background-color: transparent; }

.selectBox-options LI.selectBox-selected A {
  background-color: #C8DEF4; }

.selectBox-options .selectBox-optgroup {
  color: #666;
  background: #EEE;
  font-weight: bold;
  line-height: 1.5;
  padding: 0 .3em;
  white-space: nowrap; }

/* Disabled state */
.selectBox.selectBox-disabled {
  color: #888 !important; }

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
  opacity: .5;
  filter: alpha(opacity=50);
  border-color: #666; }

.selectBox-inline.selectBox-disabled {
  color: #888 !important; }

.selectBox-inline.selectBox-disabled .selectBox-options A {
  background-color: transparent !important; }

/* Welcome Page (for artists who log in) */
.featured-media.welcome .global-container {
  background: none;
  min-height: 400px; }
  @media screen and (max-width: 1023px) {
    .featured-media.welcome .global-container {
      min-height: 300px; } }
  @media screen and (max-width: 767px) {
    .featured-media.welcome .global-container {
      min-height: 250px; } }
  @media screen and (max-width: 479px) {
    .featured-media.welcome .global-container {
      min-height: 200px;
      max-width: 100%; } }

.main.welcome {
  padding-bottom: 10%; }

.profiles-list-item {
  background: #FFF;
  margin: 0 0 10px 0;
  *zoom: 1;
  -webkit-box-shadow: 0 2px 2px #DDD;
  -moz-box-shadow: 0 2px 2px #DDD;
  box-shadow: 0 2px 2px #DDD; }
  .profiles-list-item:before, .profiles-list-item:after {
    content: "";
    display: table; }
  .profiles-list-item:after {
    clear: both; }
  .profiles-list-item.blank {
    padding: 20px;
    font-size: 1.1em;
    font-family: "proxima-nova", sans-serif; }
    .profiles-list-item.blank p {
      line-height: 1.2; }
    .profiles-list-item.blank p:last-child {
      margin-bottom: 0;
      padding-bottom: 0; }
  .profiles-list-item a.title {
    padding: 10px;
    font-size: 1.4em;
    font-weight: 600;
    float: left;
    width: 80%;
    text-decoration: none;
    font-family: "proxima-nova", sans-serif; }
    @media screen and (max-width: 1024px) {
      .profiles-list-item a.title {
        width: 75%; } }
    @media screen and (max-width: 768px) {
      .profiles-list-item a.title {
        width: 70%; } }
    @media screen and (max-width: 480px) {
      .profiles-list-item a.title {
        width: 60%; } }
    @media screen and (max-width: 320px) {
      .profiles-list-item a.title {
        width: 50%; } }
  .profiles-list-item a.post-edit-link,
  .profiles-list-item a.post-view-link {
    display: inline-block;
    padding: 10px;
    float: right;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: "proxima-nova", sans-serif; }

/* Artist Pages */
.artist .post .post-title {
  margin-bottom: 0em; }
.artist .post .post-tags {
  margin-bottom: 1.5em; }
.artist .post h3 {
  text-transform: uppercase;
  color: #000;
  font-weight: 300;
  font-size: 2em; }
  @media screen and (max-width: 767px) {
    .artist .post h3 {
      font-size: 1.8em; } }
  @media screen and (max-width: 599px) {
    .artist .post h3 {
      font-size: 1.6em; } }
  @media screen and (max-width: 479px) {
    .artist .post h3 {
      font-size: 1.4em; } }
.artist .post .post-excerpt {
  margin-bottom: 1em; }
.artist .post .discography {
  margin-bottom: 2em;
  *zoom: 1; }
  .artist .post .discography:before, .artist .post .discography:after {
    content: "";
    display: table; }
  .artist .post .discography:after {
    clear: both; }
  .artist .post .discography .album {
    margin-bottom: 4em;
    *zoom: 1; }
    .artist .post .discography .album:before, .artist .post .discography .album:after {
      content: "";
      display: table; }
    .artist .post .discography .album:after {
      clear: both; }
  .artist .post .discography .cover {
    display: inline;
    float: left;
    width: 26.78571%;
    margin: 0 1.19048%; }
    @media screen and (max-width: 599px) {
      .artist .post .discography .cover {
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%; } }
    .artist .post .discography .cover img {
      width: 100%;
      height: auto; }
  .artist .post .discography .tracks {
    display: inline;
    float: left;
    width: 66.36905%;
    margin: 0 1.19048%;
    margin-left: 3.27381%; }
    @media screen and (max-width: 599px) {
      .artist .post .discography .tracks {
        display: inline;
        float: left;
        width: 97.61905%;
        margin: 0 1.19048%;
        margin-left: 1.19048%; } }
    .artist .post .discography .tracks .track {
      margin-bottom: .5em;
      font-family: "proxima-nova", sans-serif; }
.artist .post .connect {
  text-align: center; }
  .artist .post .connect ul {
    display: block;
    margin: 0;
    padding: 0; }
    .artist .post .connect ul li {
      display: block;
      margin: 0 0 10px 0;
      padding: 0; }
      .artist .post .connect ul li:before {
        display: none; }
    .artist .post .connect ul a {
      display: inline-block;
      background: #000;
      color: #FFF;
      font-family: "proxima-nova", sans-serif;
      font-size: 2em;
      padding: 10px;
      text-decoration: none; }
      @media screen and (max-width: 1023px) {
        .artist .post .connect ul a {
          font-size: 1.7em; } }
      @media screen and (max-width: 599px) {
        .artist .post .connect ul a {
          font-size: .8em; } }

/* Store */
.store {
  padding: 3em 0; }

.products {
  display: block;
  width: 102.38095%;
  margin: 0 -1.19048%;
  *zoom: 1; }
  .products:before, .products:after {
    content: "";
    display: table; }
  .products:after {
    clear: both; }

.product {
  display: inline;
  float: left;
  width: 47.61905%;
  margin: 0 1.19048%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 3em !important; }
  @media screen and (max-width: 599px) {
    .product {
      display: inline;
      float: left;
      width: 97.61905%;
      margin: 0 1.19048%; } }
  .product .product-image {
    border: 2em solid #FFF;
    margin-bottom: 2em; }
    @media screen and (max-width: 1023px) {
      .product .product-image {
        border: 1.5em solid #FFF; } }
    @media screen and (max-width: 767px) {
      .product .product-image {
        border: 1em solid #FFF; } }
    .product .product-image img {
      width: 100%;
      height: auto;
      display: block; }
  .product .product-title {
    color: #000;
    font-size: 1em; }
  .product .product-description {
    font-family: "proxima-nova", sans-serif;
    font-size: .85em;
    line-height: 1.5; }
  .product a.product-link {
    background: #d74e4e;
    color: #FFF;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    text-decoration: none; }

/* Front Page Sliders
  =============================================================== */
.overflow-slider_wrapper .overflow-slider_body {
  font-family: "proxima-nova", sans-serif; }

.small-carousel_wrapper .bx-viewport::before,
.small-carousel_wrapper .bx-viewport::after {
  background: #efefef !important; }

.small-carousel_wrapper li.slide .post-title {
  margin: .5em 0;
  font-family: "chaparral-pro", "Georgia", serif;
  font-size: 1em;
  font-weight: normal; }
  .small-carousel_wrapper li.slide .post-title a {
    color: inherit;
    text-decoration: none; }
.small-carousel_wrapper li.slide .post-tags {
  font-family: "proxima-nova", sans-serif;
  font-size: .85em; }
  .small-carousel_wrapper li.slide .post-tags:before {
    display: inline-block;
    content: url("../img/ico-tag-bullet.png");
    margin-right: 5px; }
  .small-carousel_wrapper li.slide .post-tags a {
    color: #d74e4e;
    text-decoration: none; }

/* Pagination
  =============================================================== */
.pagination {
  display: inline;
  float: left;
  width: 96.8254%;
  margin: 0 1.5873%;
  *zoom: 1;
  color: #333;
  text-align: center;
  margin-bottom: 2em !important; }
  .pagination:before, .pagination:after {
    content: "";
    display: table; }
  .pagination:after {
    clear: both; }
  @media screen and (max-width: 1023px) {
    .pagination {
      display: inline;
      float: left;
      width: 97.61905%;
      margin: 0 1.19048%; } }
  .pagination .posts-next,
  .pagination .posts-prev {
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    margin-top: -2px; }
  .pagination a, .pagination .page-numbers {
    display: inline-block;
    color: inherit;
    text-align: center;
    text-decoration: none;
    padding: 0 2px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 700; }
  .pagination .page-numbers.current {
    color: #000; }
  .pagination .posts-next a,
  .pagination .posts-prev a {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 10px;
    border: 2px solid #373737;
    border-radius: 100%;
    background: url("../img/ico-arrow-page-right.png") no-repeat center center; }
  .pagination .posts-prev a {
    margin: 0 10px 0 0;
    background: url("../img/ico-arrow-page-left.png") no-repeat center center; }

/* Widgets
  =============================================================== */
.widget {
  padding: 1.25em;
  margin: 0 0 10px 0;
  *zoom: 1; }
  .widget:before, .widget:after {
    content: "";
    display: table; }
  .widget:after {
    clear: both; }

.widget-search {
  position: relative;
  padding: 0;
  margin: 0; }
  .widget-search ::-webkit-input-placeholder {
    color: #a5a5a5; }
  .widget-search :-moz-placeholder {
    color: #a5a5a5; }
  .widget-search ::-moz-placeholder {
    color: #a5a5a5; }
  .widget-search :-ms-input-placeholder {
    color: #a5a5a5; }
  .widget-search input[type="text"] {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #2c2c2c;
    color: #a5a5a5;
    font-family: "proxima-nova", sans-serif;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 600;
    padding: .75em 3em .75em 1.25em;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0; }
    .widget-search input[type="text"]:focus {
      outline: 0; }
  .widget-search input[type="submit"] {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    width: 4em;
    background: transparent url("../img/ico-widget-search.png") no-repeat center center;
    color: #FFF;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0; }

.widget-categories-tags {
  background: #FFF;
  padding: 1.25em; }
  .widget-categories-tags h3 {
    color: #4a4a4a;
    margin-bottom: .5em; }
  .widget-categories-tags ul {
    font-family: "proxima-nova", sans-serif;
    font-style: italic;
    font-size: .9em;
    padding: 0;
    margin: 0 0 1.25em 0; }
    .widget-categories-tags ul:last-child {
      margin-bottom: 0; }
    .widget-categories-tags ul li {
      padding: 0; }
      .widget-categories-tags ul li:before {
        display: none; }
  .widget-categories-tags a {
    display: block;
    line-height: 1.5;
    text-decoration: none;
    color: inherit; }

.widget-social {
  padding: 0;
  margin: 0;
  margin-bottom: 7px; }
  .widget-social .social-row {
    width: 100%;
    text-align: justify;
    font-size: 0;
    margin: 0;
    padding: 0;
    line-height: 0; }
    @media screen and (max-width: 1023px) {
      .widget-social .social-row {
        text-align: left; } }
  .widget-social .social-row .icon {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 15%;
    padding-top: 15%;
    /* Used instead of height to give elements fluid, width-based height */
    margin-bottom: 3px; }
    @media screen and (max-width: 1023px) {
      .widget-social .social-row .icon {
        width: 40px;
        padding-top: 40px;
        float: left;
        margin: 0 3px 3px 0; }
        .widget-social .social-row .icon.placeholder {
          display: none; } }
    .widget-social .social-row .icon a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      text-decoration: none; }
      .widget-social .social-row .icon a img {
        display: block;
        width: 100%;
        height: auto; }
  .widget-social .social-row:after {
    content: '';
    display: inline-block;
    width: 100%; }

.widget-ads {
  padding: 0;
  margin: 0;
  display: block;
  width: 102.38095%;
  margin: 0 -1.19048%;
  *zoom: 1; }
  .widget-ads:before, .widget-ads:after {
    content: "";
    display: table; }
  .widget-ads:after {
    clear: both; }
  .widget-ads a {
    display: inline;
    float: left;
    width: 97.61905%;
    margin: 0 1.19048%;
    margin-bottom: 10px !important; }
    @media screen and (max-width: 1023px) {
      .widget-ads a {
        display: inline;
        float: left;
        width: 30.95238%;
        margin: 0 1.19048%;
        margin-bottom: 10px !important; } }
  .widget-ads img {
    display: block;
    width: 100%;
    height: auto; }

/* Featured Media
   ========================================================================== */
.featured-media {
  background-color: #3f3f3f;
  color: #FFF;
  text-align: center;
  position: relative; }
  .featured-media.single {
    padding-bottom: 110px;
    margin-bottom: -110px; }
    @media screen and (max-width: 1023px) {
      .featured-media.single {
        padding-bottom: 50px;
        margin-bottom: -50px; } }
    @media screen and (max-width: 599px) {
      .featured-media.single {
        padding-bottom: 0;
        margin-bottom: 0; } }
  .featured-media .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%; }
  .featured-media .global-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    background: url("../img/bg-featured-media-social.png") right bottom no-repeat;
    padding: 40px 0 140px 0;
    min-height: 560px; }
    @media screen and (max-width: 1023px) {
      .featured-media .global-container {
        min-height: 500px; } }
    @media screen and (max-width: 767px) {
      .featured-media .global-container {
        min-height: 400px;
        background-size: 300px 200px;
        padding: 40px 0 80px 0; } }
    @media screen and (max-width: 599px) {
      .featured-media .global-container {
        min-height: 300px; } }
    @media screen and (max-width: 479px) {
      .featured-media .global-container {
        min-height: 250px;
        max-width: 100%; } }
  .featured-media.video {
    background: #303030; }
    .featured-media.video .global-container {
      background: none; }
  .featured-media .social {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 0 20px 40px 0; }
    @media screen and (max-width: 767px) {
      .featured-media .social {
        padding: 0 20px 20px 0; } }
    .featured-media .social ul {
      margin: 0; }
      .featured-media .social ul li {
        display: inline-block;
        margin: 0 0 0 10px; }
        .featured-media .social ul li a {
          display: block;
          width: 56px;
          height: 56px;
          font-size: 24px;
          color: #FFF;
          border: 2px solid #FFF;
          border-radius: 56px;
          line-height: 56px;
          text-align: center; }
          @media screen and (max-width: 767px) {
            .featured-media .social ul li a {
              width: 40px;
              height: 40px;
              font-size: 15px;
              line-height: 40px; } }
          .featured-media .social ul li a i {
            display: inline-block;
            vertical-align: baseline; }
  .featured-media.artist {
    text-align: left; }
    .featured-media.artist .global-container {
      padding: 100px 0 150px 0; }
    .featured-media.artist .profile-image {
      display: inline-block;
      max-width: 100%;
      position: absolute;
      bottom: 150px; }
      .featured-media.artist .profile-image img {
        border: 13px solid #e8e8e8;
        display: block;
        max-width: 100%;
        width: 285px;
        height: auto; }
      @media screen and (max-width: 1023px) {
        .featured-media.artist .profile-image {
          width: 200px;
          bottom: 40px; }
          .featured-media.artist .profile-image img {
            border: 9px solid #e8e8e8; } }
      @media screen and (max-width: 767px) {
        .featured-media.artist .profile-image {
          width: 200px;
          bottom: 30px; }
          .featured-media.artist .profile-image img {
            border: 9px solid #e8e8e8; } }
      @media screen and (max-width: 479px) {
        .featured-media.artist .profile-image {
          width: 100px;
          bottom: 20px;
          left: 20px; }
          .featured-media.artist .profile-image img {
            border: 4px solid #e8e8e8; } }

/* Media Queries
   ========================================================================== */
@media only screen and (max-width: 767px) {
  html {
    font-size: 14px; }

  .hide-mobile {
    display: none !important; }

  .hide-desktop {
    display: block; } }
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: "(" attr(href) ")"; }

  abbr[title]:after {
    content: "(" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
