@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
/* Typography 
   ========================================================================== */
/* Fonts */
/* line 17, ../scss/type.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 18, ../scss/type.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 19, ../scss/type.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Styles */
/* line 24, ../scss/type.scss */
* {
  -webkit-font-smoothing: antialiased; }

/* line 26, ../scss/type.scss */
html {
  font-size: 15px; }

/* line 30, ../scss/type.scss */
body {
  line-height: 1.718em;
  font-size: 100%;
  font-family: "proxima-nova",sans-serif; }

/* line 36, ../scss/type.scss */
a {
  -webkit-transition: opacity .5s, color .5s, border-color .5s;
  -moz-transition: opacity .5s, color .5s, border-color .5s;
  -ms-transition: opacity .5s, color .5s, border-color .5s;
  -o-transition: opacity .5s, color .5s, border-color .5s;
  transition: opacity .5s, color .5s, border-color .5s;
  -webkit-backface-visibility: hidden; }
  /* line 44, ../scss/type.scss */
  a:hover {
    opacity: .8; }

/* line 49, ../scss/type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1em; }
  /* line 55, ../scss/type.scss */
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit; }
    /* line 58, ../scss/type.scss */
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      opacity: .8; }

/* line 64, ../scss/type.scss */
h1 {
  font-size: 2.2em; }

/* line 65, ../scss/type.scss */
h2 {
  font-size: 2.0em; }

/* line 66, ../scss/type.scss */
h3 {
  font-size: 1.8em; }

/* line 67, ../scss/type.scss */
h4 {
  font-size: 1.6em; }

/* line 68, ../scss/type.scss */
h5 {
  font-size: 1.4em; }

/* line 69, ../scss/type.scss */
h6 {
  font-size: 1.2em; }

/* line 71, ../scss/type.scss */
p {
  padding: 0 0 1.45em 0; }

/* line 75, ../scss/type.scss */
u {
  text-decoration: underline; }

/* line 79, ../scss/type.scss */
i, em {
  font-style: italic; }

/* line 83, ../scss/type.scss */
strong {
  font-weight: bold; }

/* line 87, ../scss/type.scss */
mark {
  padding: 3px 5px; }

/* line 91, ../scss/type.scss */
big {
  font-size: 120%; }

/* line 95, ../scss/type.scss */
small {
  font-size: 80%; }

/* line 99, ../scss/type.scss */
blockquote {
  padding: 30px 0;
  margin: 0 0 1em 0;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  font-size: 3em;
  line-height: 1.2em;
  font-family: 'Open Sans', sans-serif;
  font-style: italic; }
  /* line 109, ../scss/type.scss */
  blockquote p:last-of-type {
    padding: 0; }

/* line 114, ../scss/type.scss */
hr {
  margin-bottom: 25px; }

/* line 116, ../scss/type.scss */
article {
  color: #333; }
  /* line 120, ../scss/type.scss */
  article a {
    color: #377697; }
    /* line 126, ../scss/type.scss */
    article a.button {
      background: #EEE;
      color: #333;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      padding: 8px 9%; }
  /* line 138, ../scss/type.scss */
  article ul, article ol {
    padding: 0 0 1.5em 1.5em; }
    /* line 141, ../scss/type.scss */
    article ul ul, article ul ol, article ol ul, article ol ol {
      padding: 0 0 0 1em; }
    /* line 145, ../scss/type.scss */
    article ul li, article ol li {
      line-height: 1.75em; }
  /* line 150, ../scss/type.scss */
  article ol {
    counter-reset: my-counter; }
    /* line 153, ../scss/type.scss */
    article ol > li {
      list-style: none; }
      /* line 156, ../scss/type.scss */
      article ol > li:before {
        content: counter(my-counter) ".";
        counter-increment: my-counter;
        font-weight: 700;
        padding: 0 10px 0 0; }
  /* line 165, ../scss/type.scss */
  article ul > li {
    list-style: none;
    padding-left: 25px; }
    /* line 169, ../scss/type.scss */
    article ul > li:before {
      vertical-align: text-top;
      content: "■";
      font-size: 2em;
      line-height: .5em;
      color: #000;
      margin: 5px 0 0 -25px;
      float: left; }
  /* line 181, ../scss/type.scss */
  article h1, article h2, article h3, article h4, article h5, article h6 {
    text-transform: uppercase; }
  /* line 186, ../scss/type.scss */
  article hr {
    border: 0;
    border-top: 1px solid #e3e3e3; }
  /* line 191, ../scss/type.scss */
  article strong {
    color: #000; }
